.page-404
   .main-wrapper
      min-height auto
   .sidebar
      padding-bottom 0
   .sidebar-services
      display none
   .content-wrapper__content
      padding 0 !important
.section-404
   background-image resolve('404-bg.jpg')
   background-size cover
   display flex
   flex-direction column
   align-items flex-start
   justify-content center
   padding 8rem 0
   padding-left 2rem
   background-position center right 50%
   +above('s')
      height 60rem
      padding 0
      background-position center
      padding-left 20%
   &__title
      font-size 9rem
      +above('s')
         font-size 16rem
      color #213570;
      font-family $font-secondary
      font-weight bold
      line-height 1
      margin-bottom .1em
   &__desc
      font-size 1.6rem
      max-width 16rem
      +above('s')
         font-size 1.8rem
         max-width none
      margin-bottom 3rem
   .btn
      
      .icon-arrow-right
         background-image resolve('small-arrow-right-white.svg')
         background-size contain
         height 1.2rem
         width 1.2rem
         margin-left 1rem
         transform translateY(1px)