
.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: #e7eff2;
  position: absolute;
  z-index: 30;}

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: .3rem;
  height: 999.9rem;
  left: 50%;
  margin-left: -.2rem; }

.twentytwenty-overlay {
  width 100%;
  background-color transparent !important
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  height: 100%; }
  
.twentytwenty-before-label {
  left 0
}
.twentytwenty-after-label {
  right 0
}

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  background: rgba(51, 51, 51, 0.3);
border-radius: 1rem 0px;
color $white;
width 6.3rem
height 3rem
line-height 3rem;
display block
text-align center;
font-size 1.2rem;
}
 .twentytwenty-after-label:before {
    border-radius: 0 1rem 0 1rem;
 }






.twentytwenty-left-arrow
  &::before
    content: "";
    position: absolute;
    top: -2.5rem;
    right: -2.5rem;
    width: 1.3rem;
    height: 5rem;
    background-color: #fff;
    z-index 31

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: .6rem inset transparent;
  position: absolute; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -.6rem; }

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -.6rem; }

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .twentytwenty-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block; }
  
  .twentytwenty-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }


  .twentytwenty-before-label:before {
    content: attr(data-content); }


  .twentytwenty-after-label:before {
    content: attr(data-content); }

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 0; }

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 0; }

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  z-index: 25; }
  .twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0.5); }
    .twentytwenty-overlay:hover .twentytwenty-after-label {
      opacity: 1; }
    .twentytwenty-overlay:hover .twentytwenty-before-label {
      opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 3.8rem;
  width: 3.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.8rem;
  margin-top: -1.6rem;
  //border: .3rem solid white;
  z-index: 40;
  cursor: pointer; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 2.2rem;
 }
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 2.2rem;
 }



.twentytwenty-left-arrow {
  border-right: .6rem solid white;
  left: 50%;
  margin-left: -2.5rem; }

.twentytwenty-right-arrow {
  border-left: .6rem solid white;
  right: 50%;
  margin-right: -2.5rem; }

