.contacts-header
   margin-top 2rem
   margin-bottom 4rem
   +above('s')
      margin-top 3rem
      margin-bottom 5rem
   &__content
      +above('s')
         display flex
         justify-content space-between
         
   &__column
      position relative
      padding-left 5.5rem
      margin-bottom 1.5rem
      +above('s')
         margin-bottom 0
      i
         display block
         position absolute
         top 0
         left 0
         width 4rem
         height 4rem
         background-size contain
         background-position center
   &__subtitle
      color #B1B1B1
   &__value
      font-size 1.6rem
      a[href^="mailto:"]
         color #009FE3
         

.contact-map
   background-color #fff
   padding-top 5rem
   padding-bottom 3rem
   +above('s')
      padding-bottom 5rem
      padding-top 0
      background-color transparent
   &__title
      font-size 2.1rem
      font-weight 600
      font-family $font-secondary
      margin-bottom .5em
   &__content
      position relative
   &__map-wrapper
      height 43rem
      +above('s')
         height 54.2rem
   &__map
      height 100%
      

.contact-map-panel
   position absolute
   top 6rem
   left 6rem
   background-color #fff
   padding 4rem 4rem 8rem
   border-radius 1rem
   width 30rem
   &__close
      position absolute
      top 0
      right 0
      padding 1rem
      svg
         height 3rem
         width 3rem
         fill #B1B1B1
   &__title
      font-size 2.7rem
      letter-spacing -0.01em
      font-family $font-secondary
      font-weight 600
      line-height normal
      margin-bottom .7em
   &__row
      padding-left 4rem
      margin-bottom 1.5rem
      position relative
      line-height 1.4
      i
         position absolute
         top .4rem
         left 0
         height 2.5rem
         width 2.5rem
         background-size contain
         background-position center
   &__desc
      color #B1B1B1
   .btn
      margin-top 2rem
      
.contacts-branches
   background-color #fff
   padding 3.5rem 1.2rem 3rem
   margin-bottom -7rem

.contact-soc-links
   display flex
   flex-wrap wrap
   align-items center
   margin-left -2rem
   margin-right -2rem
   a
      padding 2rem
      display block
      link($blue)
      i
         display inline-block
         vertical-align middle
         height 3rem
         width 3rem
         background-size contain
         background-position center
         margin-right 1.2rem

.doctor-feedback
   padding-top 3rem
   padding-bottom 10rem
   +above('s')
      background-color #fff
   &__content
      margin-top 0rem
      +above('s')
         display flex
         flex-direction row-reverse
         margin-top 5rem
   &__left
      background-color #fff
      margin 0 -2rem
      padding 5rem 2rem
      +above('s')
         margin 0
         padding 0
         width 23.5rem
         background-color transparent
   &__right
      margin-bottom 5rem
      +above('s')
         margin-bottom 0
         width calc(100% - 23.5rem)
         padding-left 4.5rem
      
.doctor-feedback-info
   &__subtitle
      font-size 2.1rem
      line-height 1.2
      +above('s')
         font-size 2.7rem
      font-weight 600
      font-family $font-secondary
      margin-bottom 1em
   .btn
      margin-top 3rem
      padding-left 3em
      padding-right 3em
   &__photo
      margin-bottom 1rem
      border-radius 1rem
      overflow hidden
      img
         width 100%
   &__title
      font-size 1.8rem
      font-family $font-secondary
      font-weight 600
      margin-bottom .3em
   &__desc
      color #B1B1B1
      
.doctor-feedback-form
   &__title
      font-size 2.1rem
      +above('s')
         font-size 2.7rem
      font-weight 600
      font-family $font-secondary
      margin-bottom .35em
   &__desc
      color: #B1B1B1;
      font-size 1.4rem
      line-height 2rem
      margin-bottom 1.5em
   &__inner
      display flex
      flex-wrap wrap
      margin 0 -1rem
   .field-wrapper
      +above('s')
         width 50%
      padding 0 1rem
      &:last-child
         +above('s')
            width 100%
   &__policy
      font-size 1.2rem
      color #B1B1B1
   &__footer
      padding-top 2rem
      color #B1B1B1
      +above('xl')
         display flex
         justify-content space-between
         align-items center
      .btn
         padding-left 4.5em
         padding-right 4.5em
         margin-top 2rem
         +above('xl')
            margin-top 0
         

.attached-file
   &__content
      display block
      padding-left 2.3rem
      position relative
      line-height 1.3
      svg
         position absolute
         top .3rem
         left -.1rem
         height 1.5rem
         width 1.5rem
         fill #009FE3
      