+below('xs')
   .single-doctor
      .breadcrumbs
         position absolute
         left 0
         right 0
         top 5rem
         z-index 5

.doctors-header
   padding-top 0rem
   overflow hidden
   +above('s')
      padding-top 1rem
   &__photo
      margin 0 -7rem
      margin-bottom 2rem
      +above('s')
         margin 0
         margin-bottom 3.5rem
      img
         width 100%
         border-radius 1rem
   &__section-title
      font-size 2.4rem
      +above('s')
         font-size 3.5rem
      font-weight bold
      font-family $font-secondary
      margin-bottom .4em
   &__description
      font-size 1.4rem
      +above('s')
         font-size 1.6rem
         
.doctors
   padding-top 3.2rem
   padding-bottom 5rem
   +above('s')
      padding-bottom 7rem

.doctors-cats
   margin 0 0 .8rem
   &__list
      flex-wrap wrap
      display flex
      margin 0 -1rem
      
.doctors-cat
   padding 1rem
   cursor pointer
   &__content
      border 1px solid #BCE3F3
      border-radius 99rem
      padding .65em 1.3em
      color $blue
      transition .2s
   &:hover &__content
      color $black
   :checked ~ &__content
      background-color #ECF4F7
      border-color #ECF4F7
      color $black
      


.doctors-list
   margin 0 -1rem
   display flex
   flex-wrap wrap
   &__item
      width 100%
      +above('s')
         width 50%
      +above('xl')
         width 33.33%
      padding 1rem
      display flex
      align-items stretch
.doctor-preview
   display block
   padding 3.7rem 2.4rem
   padding-bottom 29rem
   position relative
   background: linear-gradient(180deg, #ECF4F7 0%, #D5F2FD 100%);
   border-radius 1rem
   overflow hidden
   width 100%
   &__photo
      position absolute
      bottom 0
      left 0
      right 0rem
      img
         height 28rem
         width auto
         margin-left auto
         margin-right auto
   &__title
      font-family: $font-secondary;
      font-weight: 600;
      font-size: 2.7rem;
      margin-bottom .4em
   &__subtitle
      font-weight 600
      font-family: $font-secondary;
      font-size 1.8rem
      margin .5rem 0
   &__desc
      margin-bottom 1.2rem
   &__info
      font-size 1.4rem
      color #B1B1B1
      display flex
      justify-content space-between
      

.load-more
   background-position center right 0
   color #009FE3
   padding-right 2rem
   margin-top 2rem
   svg
      height 1rem
      width 1rem
      fill #009FE3
      display inline-block
      vertical-align middle
      margin-left .5rem
      


////////////////////////////////////////////////////////////////////////////////////

.doctor-header
   margin-bottom 2.5rem
   +above('s')
      margin-top 2rem
   &__container
      +below('xs')
         padding 0
   &__content
      padding 8rem 1.5rem 5rem
      +above('s')
         padding 7rem 4.5rem 8rem
         border-radius: 1rem;
      background: linear-gradient(128.34deg, #FFFFFF -23.58%, #D5F2FD 104%);
      position relative
      .btn
         +below('xs')
            width 100%
            position relative
            z-index 5
   &__photo
      position absolute
      width 100%
      left 50%
      width 28rem
      height 30rem
      bottom 8.5rem
      transform translateX(-50%)
      +above('s')
         bottom 0
         height 47.8rem
         top 0
         right 2.5rem
         width 45.2rem
         left auto
         transform none
         z-index 1
      background-size contain
      background-position center bottom
      pointer-events none
   &__inner
      max-width 40rem
   &__title
      font-family $font-secondary
      font-size 2.4rem
      margin-bottom .5em
      +above('s')
         font-size 3.5rem
         margin-bottom .3em
      font-weight 600
   &__subtitle
      //
   &__desc
      margin-bottom 28rem
      font-size 1.4rem
      +above('s')
         margin-bottom 3.5rem
         font-size 1.8rem
      span
         color #B1B1B1
      b
         font-weight 500
         
      
.doctor-header-links
   display flex
   margin 0 -1em
   margin-top 8rem
   position relative
   z-index 2
   +below('xs')
      display none
   a
      dotted-link($blue)
      padding 0 1em
      

.text-about
   &__content
      padding 1.5rem 1.8rem 4rem
      font-size 1.4rem
      +above('s')
         padding 4rem 0 6rem
         font-size 1.6rem
      p,
      ul,
      ol
         max-width 72rem
      

.certificates
   background-color #fff
   padding 4.5rem 0
   +above('s')
      padding 7rem 0
   &__list
      display flex
      flex-wrap wrap
      align-items center
      margin 0 -.5rem
      +above('s')
         margin 0 -1.5rem
   &__item
      width 60%
      padding 1rem
      +above('s')
         padding 1.5rem
         width 40%
      &--narrow
         width 40%
         +above('s')
            width 30%
   &__link
      //max-width 25.1rem
      display block
      padding .5rem
      +above('s')
         padding 1.5rem
      position relative
      i
         background-image resolve('icon-eye.svg')
         width 6.4rem
         height 8.1rem
         background-size contain
         background-position center
         position absolute
         top 50%
         left 50%
         transform translate(-50%,-50%)
         z-index 4
         opacity 0
         pointer-events none
         transition .2s
         +below('xs')
            display none
      &:hover i
         opacity 1
      &::before
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background-color #ECF4F7
         z-index 2
         border-radius .5rem
         +above('s')
            border-radius 1rem
      &::after
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background-color #F5FAFD
         z-index 1
         border-radius .5rem
         transform translate(.5rem, .5rem)
         +above('s')
            transform translate(1.3rem, 1.3rem)
            border-radius 1rem
      img
         max-width 100%
         position relative
         z-index 3
         border .5rem solid $white
         border-radius .5rem
         +above('s')
            border 1.5rem solid $white
            border-radius 1rem
   

.doctor-reviews
   padding 3.5rem 0 5rem
   +above('s')
      padding 7rem 0 9rem
   background-color #fff
   &__section-title
      font-family $font-secondary
      font-weight 600
      font-size 2.1rem
      margin-bottom .6em
      +above('s')
         font-size 2.7rem
         margin-bottom 1.2em
   &__item
      border-bottom 1px solid #ECF4F7
      position relative
      min-height 20rem
      padding-bottom 2rem
      margin-bottom 1.5rem
      +above('s')
         padding-bottom 4rem
         margin-bottom 4rem
         padding-right 21rem
      &:last-child
         margin-bottom 2rem
   &__title
      font-family $font-secondary
      font-weight 600
      font-size 1.8rem
      margin-bottom .35em
   &__info
      margin-top 1rem
      color #B1B1B1
      font-style italic
      font-size 1.2rem
   &__desc
      font-style italic
      font-size 1.4rem
   &__photo
      position absolute
      top 0
      right 5rem
      background-color #fff
      &::before
         content ''
         position absolute
         top -.5rem
         left -.5rem
         right -.5rem
         bottom -.5rem
         background-color #ECF4F7
         border-radius .5rem
         z-index 2
      &::after
         content ''
         position absolute
         top -.5rem
         left -.5rem
         right -.5rem
         bottom -.5rem
         background-color #F5FAFD
         border-radius .5rem
         z-index 1
         transform translate(.7rem, .7rem)
      img
         max-width 13rem
         position relative
         z-index 3
         border-radius .5rem
         border .5rem solid $white
      i
         background-image resolve('icon-eye.svg')
         width 6.4rem
         height 8.1rem
         background-size contain
         background-position center
         position absolute
         top 50%
         left 50%
         transform translate(-50%,-50%)
         z-index 4
         opacity 0
         pointer-events none
         transition .2s
         +below('xs')
            display none
      &:hover i
         opacity 1
   .guestbook-file
      margin-top 1rem


//////////////////////////////////////////////////////////////

.feedback-section-doctor
   background: radial-gradient(237.50px at 73.32% 17.42%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(128.34deg, #FFFFFF -1.16%, #D5F2FD 100%);
   padding 0 1rem 0
   +above('m')
      padding 7rem 0
   position relative
   .section-title
      margin-bottom .5em
   &__bg
      position absolute
      width 28rem
      height 28rem
      left calc(50% + 4rem)
      transform translateX(-50%)
      bottom 47rem
      +above('s')
         bottom 45rem
      +above('m')
         left auto
         transform none
         bottom 33rem
         right 10rem
         width 38rem
         height 39rem
      background-size contain
      background-position center bottom
   &__container
      z-index 2
      position relative
   &__section-title,
   &__subtitle,
   &__desc
      +above('m')
         padding-left 5rem
   &__desc
      font-size 1.4rem
      +below('s')
         line-height 1.2
      +above('m')
         font-size 1.6rem
         margin-left -1.7rem
      ol
         counter-reset: content-list;
         list-style none
         +above('m')
            max-width 45rem
            columns 2
         li
            margin-bottom .5em
            padding-left 1.8rem
            position relative
            padding-right 0rem
            display inline-block
            +above('m')
               margin-bottom 0
               max-width 20rem
               padding-bottom 1rem
               &:last-child
                  margin-left -1rem
            &::before
               counter-increment: content-list;      
               content counter(content-list) "."
               position absolute
               left -1rem
               width 2.5em
               text-align right
               padding-right 1.1em
               //color #cbd5f0
               top 0em
               color $gray
               +above('s')
                  top 0
               +above('m')
                  top -.00em
                  
               transition .2s
   .section-title
      +above('m')
         font-size 3.5rem
   &__subtitle
      font-size 1.6rem
      margin-top 1em
      +above('m')
         font-size 2.7rem
         margin-top 0
      font-weight 600
      font-family $font-secondary
      margin-bottom .4em
      
   .feedback-form-2
      margin-top 4rem
      background-color #fff
      +between('s', 'm')
         margin 0 -2.5rem
      +below('s')
         padding 3.5rem 3rem
         background: linear-gradient(180deg, #3A529A 0%, #182D68 129.08%);
         //margin-top 30rem
         margin-top 0
         .btn
            margin-top 2rem
            margin-bottom .5rem
         .field-wrapper
            margin-bottom .5rem
            .field-input
               background-color #425794
         
      



.text-about-footer
   padding-top 3rem
   +below('s')
      background: linear-gradient(180deg, rgba(236, 244, 247, 0) 0%, #D5F2FD 104.42%);
      padding-bottom 22.5rem
   +above('s')
      padding-top 2rem