.footer
   background-color $dark-blue
   color  #63719B;
   padding 2rem 0 8rem
   margin-top -1px
   border: 1px solid #2C3F77;
   +above('m')
      padding 3rem 0 0
   .container
      max-width 125rem
      margin-left 0
      margin-right auto
      padding-left 1.5rem
      padding-right 1.5rem
      +above('m')
         margin-left auto
         margin-right auto
      

      
      
.footer-top
   display flex
   flex-direction column
   +above('m')
      flex-direction row
      justify-content space-between
      padding-left 25rem
      position relative
   

.footer-logo
   display block
   order 1
   margin-bottom 1.2rem
   +above('m')
      margin-bottom 0
      position absolute
      top -1.5rem
      left 0
   svg
      width (28.8rem / 3.2)
      height (13rem / 3.2)
      +above('m')
         width (28.8rem / 1.75)
         height (13rem / 1.75)
      color $white


.footer-desc
   line-height (20 / 14)
   order 4
   font-size 1.2rem
   max-width 22rem
   color white
   +above('m')
      color inherit
      max-width 26rem
      font-size 1.4rem
      order 2
   
.footer-contacts
   width 18rem
   order 2
   text-align left
   margin-bottom .5rem
   a[href^="tel:"]
      color $white
   +above('m')
      margin-bottom 0
      text-align right
      order 3
      margin-top -1.5rem
      margin-left -3rem
   &__links
      font-size 1.2rem
   
.footer-soc-links
   width 15rem
   order 3
   margin-bottom 2rem
   +above('m')
      margin-bottom 0
      order 4
      padding-left 3.2rem
      position absolute
      top 0
      right 0
      text-align right
   +above('xl')
      position static
      text-align left
   &__title
      color #63719B;
      margin-bottom .8em
   ul
      display flex
      align-items center
      justify-content flex-start
      margin 0 -.2em
      +above('m')
         justify-content flex-end
      +above('xl')
         justify-content flex-start
   a
      display block
      font-size .6rem
      padding 0 .8em
      +above('m')
         font-size .8rem
      .icon-youtube
         font-size .5rem   
         +above('m')
            font-size .7rem
      
.icon-youtube
   display inline-block
   width 5em
   height 3.5em
   background-image resolve('youtube.png')
   background-size contain
   background-position center
.icon-instagram
   display inline-block
   width 3.5em
   height 3.5em
   background-image resolve('instagram.png')
   background-size contain
   background-position center
.icon-viber
   display inline-block
   width 3.5em
   height 3.5em
   background-image resolve('viber.png')
   background-size contain
   background-position center
.icon-watsapp
   display inline-block
   width 3.5em
   height 3.5em
   background-image resolve('whatsapp.png')
   background-size contain
   background-position center

.footer-bottom
   margin-top 1.2rem
   +above('m')
      text-align center
      margin-top 3.2rem
   +above('xl')
      display flex
      justify-content space-between
      text-align left
   font-size 1.2rem
   padding-top 1.6rem
   padding-bottom 2rem
   border-top 1px solid #2C3F77;
.copyrights
   color #63719B;
   


.dev-link
   text-align right
   margin-top 7rem
   order 5
   position absolute
   bottom 3rem
   right 2rem  
   +above('m')
      bottom 0
      right 0  
      position static
   +above('xl')
      margin-top 0
      margin-right 0
   &__title
      color #63719B;
   &__link
      display block
      svg
         width: 21.6rem;
         height: 2.7rem;
