.header-wrapper
   //height 12.5rem
   
@keyframes header
   0%
      transform translate3d(-50%, -100%, 0)
   100%
      transform translate3d(-50%, 0%, 0)


.header
   border-bottom: 1px solid #ECF4F7;
   padding-top 2rem
   background-color #fff
   width 100%
   z-index: 2;
   position: relative;
   margin-left auto
   margin-right auto
   
   
   .header-fixed &
      animation header .5s forwards
      position fixed
      top 0
      left 50%
      z-index 5
      background-color #213570;
      padding-top 0
      border-bottom none
   &__content
      padding-left 18.5rem
      position relative
   .container
      max-width 128rem
      margin-left auto
      margin-right auto
      padding-left 2rem
      +above('xl')
         padding-left 5rem
      padding-right 2rem


.mob-header
   position fixed
   top 0
   left 0
   right 0
   background-color #213570;
   z-index 10
   &__container
      padding 0
      padding-left 1.5rem
   &__content
      display flex
      justify-content space-between
   &__right
      display flex
      


.mob-logo
   position relative
   height (4rem / .95)
   width (13rem / .95)
   
.mob-phone,
.mob-toggle
   padding 1.3rem 1.26rem
   svg
      height 2rem
      width 2rem
      fill $white

.mob-phone
   background: linear-gradient(180deg, #26DCB1 0%, #099977 100%);
   box-shadow: 0px 7px 50px rgba(9, 181, 140, 0.3);
.mob-toggle
   background: linear-gradient(180deg, #009FE3 0%, #0073A4 100%);
   svg
      transition .2s
   svg:first-child
      display block
   svg:last-child
      transform scale(.5)
      opacity 0
      position absolute
      top 1.3rem
   &.active svg:first-child
      opacity 0
      transform scale(.5)
   &.active svg:last-child
      transform scale(1.4)
      opacity 1

.logo
   position absolute
   top .7rem
   left 0
   width 16rem
   height 7.5rem
   color $dark-blue
   &:hover
      color $dark-blue
   .header-fixed &
      display none

.small-logo
   position absolute
   top 1.3rem
   left 0
   width 14.4rem
   height 2.4rem
   display none
   .header-fixed &
      display block

.top-header
   display flex
   align-items center
   justify-content flex-end
   +above('xl')
      padding-right 2rem
   .header-fixed &
      display none
   .addresses
      margin-right 2.5rem
      +above('xl')
         margin-left 2rem
.addresses
   ul
      display flex
      flex-wrap wrap
      margin 0 -.75em
   a
      link($black)
      display flex
      align-items center
      padding .5em .75em
      line-height 1.2
      +above('m')
         padding 1em .75em
      svg
         margin-right 1rem
         height 2rem
         width 2rem
   
      
.header-advantages
   margin-right 2rem
   +above('xl')
      display flex
   margin-left 1.5rem
   align-items center
   li
      display flex
      margin-bottom .2rem
      align-items center
      +above('xl')
         padding-right 2rem
         margin-bottom 0
      svg
         height 2rem
         width 2rem
         +above('xl')
            height 2.5rem
            width 2.5rem
         margin-right 1rem
   li&__free 
      margin-left .2rem
      +above('xl')
         margin-left 0
      svg
         height 1.8rem
         width 1.8rem
         +above('xl')
            height 1.8rem
            width 1.8rem
         
.header-phones
   line-height 1.2
   text-align right
   a
      display block
      font-weight 500
      font-size 1.6rem
   
   

.main-nav
   font-size 1.4rem
   +above('m')
      font-size 1.2rem
   +above('xl')
      font-size 1.4rem
   font-weight 500
   text-transform uppercase
   letter-spacing 0.05em
   ul
      +above('m')
         display flex
         justify-content flex-end
   a
      display inline-block
      color $white
      padding .6em .8em .6em
      +above('m')
         color $black
         padding 1.1em .8em 1.4em
      +above('xl')
         padding 1.1em 1.18em 1.4em
      position relative
      &:hover
         color $blue
      .header-fixed &
         +above('m')
            color $white
            padding 1.4em .8em 1.4em
         +above('xl')
            padding 1.4em 1.18em 1.4em
      &::before
         +above('m')
            content ''
            position absolute
            bottom 0
            left .8em  
            right .8em
         +above('xl')
            left 1.2em  
            right 1.2em
         height 2px
         background-color #CCECF9;
         opacity 0
      &.current
         color $blue !important
         //pointer-events none //вкл
         &::before
            opacity 1
      &[data-count]::after
         content attr(data-count)
         display block
         font-size .8rem
         line-height 1.7rem
         width 1.7rem
         border-radius 50%
         text-align center
         background-color #F25F5F;
         color $white
         display inline-block
         vertical-align top
         margin-top -.5rem
         margin-left .5rem
         

//////////////////////////////

.mob-nav-modal
   position fixed
   top 4.5rem
   left 0
   right 0
   bottom 0
   background: linear-gradient(180deg, rgba(58, 82, 154, 0.7) 0%, rgba(24, 45, 104, 0.7) 100%);
   z-index 9
   visibility hidden
   opacity 0
   transition .2s
   &.active
      visibility visible
      opacity 1
   +above('m')
      display none
   &__content
      overflow-y auto
      overflow-x hidden
      height 100%
      width calc(100% - 9.05rem)
      +above('s')
         width 23rem
      background: linear-gradient(180deg, #3A529A 0%, #182D68 100%);
      padding 1.5rem 1.5rem 5rem
      transition .2s
      transform translateX(-100%)
      -webkit-overflow-scrolling touch
      .mob-nav-modal.active &
         transform translateX(0)
      

.mob-nav-contacts
   color #63719B;
   margin-top 2rem
   padding-left 1rem
   &__soc-links
      display flex
      align-items center
      margin 0 -.2em
      margin-top .3rem
      a
         display block
         font-size .6rem
         padding .8em
         +above('m')
            font-size .8rem
         .icon-youtube
            font-size .5rem   
            +above('m')
               font-size .7rem