.home-section-title
   font-size 1.95rem
   margin-bottom .5em
   line-height (3.6 / 3.2)
   +above('s')
      font-size 3.2rem
      margin-bottom .7em
   font-weight bold
   font-family $font-secondary   

.home-banner
   margin-top 2.5rem
   padding-top 15%
   +above('s')
      padding-top 30%
      margin-top -1px
   +above('m')
      padding-top 0
      padding-bottom (90 * 100% / 192)
   +above('xl')
      padding-bottom (83 * 100% / 192)
   position relative
   z-index 2
   
   &__bg
      content ''
      position relative
      position absolute
      top 0
      left 0
      right 0
      padding-bottom 50%
      +above('m')
         bottom 0
         padding-bottom 0
      background-size cover
      background-position center
      &::before
         +above('m')
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            background: linear-gradient(0deg, #009FE3 31.65%, rgba(0, 159, 227, 0) 61.71%);
   &__container
      position relative
      z-index 2
      +above('m')
         position absolute
         top 0
         bottom 0
         z-index 2
         width 100%
         transform translateX(-50%)
         left 50%
      +below('l')
         padding 0
   &__content
      height 100%
      display flex
      flex-direction column
      justify-content flex-end
      color $white
      padding 8rem 2rem 4rem
      +above('s')
         padding 8rem 2rem
      +above('m')
         padding 8rem 10rem
      align-items flex-start
      background: linear-gradient(0deg, #009FE3 75%, rgba(0, 159, 227, 0) 90%);
      +above('s')
         background: linear-gradient(0deg, #009FE3 75%, rgba(0, 159, 227, 0) 100%);
      +above('m')
         background none
   &__section-title
      line-height (7.4 / 6.4)
      font-size 2.7rem
      +above('s')
         font-size 5rem
      +above('xl')
         font-size 6.4rem
      font-family $font-secondary
      font-weight bold
      margin-bottom .5em
   &__label
      background-color #F5DB51
      border-radius .5rem
      color $black
      margin-bottom 1rem
      display inline-block
      width auto
      font-size 1.4rem
      font-weight 500
      padding .4em 1.2em
      margin-top -2.5rem
      +above('s')
         padding .6em 1.2em
         margin-top 0
      +above('xl')
         font-size 1.6rem
      font-family $font-secondary
   &__desc
      line-height: (4.2 / 3);
      font-size: 1.6rem;
      +above('s')
         font-family $font-secondary
         font-size: 2.4rem;
      +above('m')
         color: rgba(255, 255, 255, 0.7);
      +above('xl')
         font-size: 3rem;
         line-height: 4.2rem;
   

.rating-blocks
   padding 5rem 0 5rem
   +above('s')
      padding 8.7rem 0 10rem
   &__desc
      margin-bottom 2rem
      +above('s')
         margin-bottom 3rem
      max-width 80rem
      line-height 2.4rem
      font-size 1.6rem
   &__list
      display flex
      flex-wrap wrap
      text-align center
      align-items stretch
      margin 0 -1rem
   &__item
      width 50%
      padding .5rem   
      +above('m')
         width 33.33%
         padding 1rem   
      display flex
      align-items stretch
      
.rating-block
   display block
   width 100%
   background-color #F9F9F9
   border-radius 1rem
   padding 1rem 2rem 1.5rem
   +above('s')
      padding 3rem
   &__logo
      display flex
      align-items center
      justify-content center
      height 3.5rem
      max-width 80%
      margin-left auto
      margin-right auto
      +above('s')
         max-width none
         height 9rem
      img
         margin-left auto
         margin-right auto
         height auto
         max-width 100%
         max-height 100%
   &__title
      font-size 0
      margin-bottom .5rem
      +above('s')
         font-size 1.6rem
         line-height 2.4rem
         margin-bottom .5em
      color #B1B1B1
      b
         color $black
         font-size 1.4rem
         +above('s')
            font-size inherit
         

.rating
   position relative
   width (18.7rem / 2)
   height (3.1rem / 2)
   background-size (18.7rem / 2) (3.1rem / 2)
   +above('s')
      width 18.7rem
      height 3.1rem
      background-size 18.7rem 3.1rem
   background-position center
   background-image resolve('rating-bg.svg')
   margin-left auto
   margin-right auto
   &__current
      background-size cover
      background-position left center
      background-image resolve('rating-current.svg')
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-size (18.7rem / 2) (3.1rem / 2)
      +above('s')
         background-size 18.7rem 3.1rem
///////////////////////////////////////////////////////

.home-specials
   background-color #F9F9F9
   text-align center
   padding 4rem 0
   +above('s')
      padding 9rem 0
   &__section-title
      text-align left
   &__list
      display flex
      flex-wrap wrap
      margin 0 -1rem 4rem
   &__item
      width 85vw
      +above('s')
         width 50%
      +above('m')
         width 25%
      padding 1rem
      display flex
      align-items stretch
   &__more
      font-size 1.6rem
      +below('xs')
         display none
   .slick-track
      padding-right 15vw
   .slick-dots
      margin-left auto
      margin-right auto
      margin-top 1rem
   .slick-dots li
      padding 0 1rem
   .slick-dots button
      background-color #CCECF9
   .slick-dots .slick-active button
      background-color #009FE3
            
.advantages
   margin-top 2rem
   display flex
   flex-wrap wrap
   text-align center
   &__item
      width 100%
      +above('s')
         width 33.33%
   &__icon
      height 20rem
      +above('s')
         height 26rem
      img
         max-height 100%
         width auto
         margin-left auto
         margin-right auto
         

.home-services
   padding 5rem 0 4rem
   +above('s')
      padding 9.5rem 0
   text-align center
   &__section-title
      text-align left
   &__list
      display flex
      flex-wrap wrap
      margin 0 -.5rem
      +above('s')
         margin 0 -1rem 2.5rem
   &__item
      width 50%
      padding .5rem
      display flex
      align-items stretch
      +above('s')
         width 33.33%
         padding 1rem
         &:last-child
            display none
      +below('xs')
         &:nth-child(n+6):not(:last-child)
            display none
   &__more
      font-size 1.6rem
      +below('xs')
         display none
         
.home-service-more
   border: 1px solid #CCECF9;
   border-radius .5rem
   padding 2rem
   color #009FE3
   display flex
   justify-content flex-start
   align-items center
   text-align left
   line-height 1.2
   &__inner
      padding-right 1rem
      display inline-block
      background-image resolve('small-arrow-right.svg')
      background-position center right 1rem
   span
      border-bottom 1px solid rgba(#009fe3, .2)
      
.home-service
   display block
   width 100%
   padding 2rem 1rem 2rem
   background-color #F9F9F9
   border-radius .5rem
   +above('s')
      border-radius 1rem
      background: linear-gradient(0deg, #F9F9F9 26.52%, rgba(249, 249, 249, 0) 100%);
      padding 5rem 2rem
   +above('m')
      padding 5rem 3rem
   &__title
      font-size 1.4rem
      font-weight bold
      color $black
      border-bottom 1px solid rgba($black, .2)
      +above('s')
         color #009FE3
         font-size 1.8rem
         border-bottom 1px solid rgba(#009FE3, .2)
         font-weight 600
      font-family $font-secondary
      margin-bottom .5em
      display inline
   &__desc
      margin-top 1rem
      font-size 1.4rem
      line-height 2rem
      max-width 24rem
      margin-left auto
      margin-right auto
      display none
      +above('s')
         display block
   &__icon
      display block
      margin-bottom 1rem
      img
         height 6rem
         width 6rem
         +above('s')
            height 8rem
            width 8rem
         +above('m')
            height 11rem
            width 11rem
         margin-left auto
         margin-right auto
         object-fit cover
         object-position center
         

////////////////////

.home-doctors
   background-color #F9F9F9
   padding-bottom 3rem
   +above('s')
      padding-bottom 5rem
   //padding 8rem 0
   .small-doctors__footer
      +below('xs')
         padding 0 0 1rem
   .small-doctors
      &__item
         width 100%
         +above('s')
            width 33.33%
         +above('m')
            width 20%
      &__show-all
         font-size 1.4rem
         +above('s')
            font-size 1.6rem
         margin-top 1rem
         

///////////////////////////////

.home-companies
   padding 5rem 0 5rem
   +above('s')
      padding 8rem 0 9rem
      text-align center
   ul
      display flex
      flex-wrap wrap
      justify-content center
      align-items stretch
      margin-bottom 3rem
      +above('s')
         margin-bottom 5rem
   li
      padding 1rem 2rem
      width 50%   
      display flex
      align-items center
      justify-content center
      border 1px solid #ECF4F7;
      &:not(:first-child):not(:nth-child(2))
         border-top none
      &:nth-child(even)
         border-left none
      +above('s')
         width 33.33%   
         border none
      +above('l')
         width 25%   
      img
         margin-left auto
         margin-right auto
         max-width 100%
   &__more
      font-size 1.4rem
      +above('s')
         font-size 1.6rem
         
///////////////////

.home-instagram
   padding 3.5rem 0 5rem
   +above('s')
      padding 9rem 0 10rem
   background-color #F9F9F9
   +above('s')
      text-align center
   &__list
      +above('s')
         display flex
      margin 0 -1rem
   &__item
      padding 1rem
      margin-left auto
      margin-right auto
      +below('s')
         &:not(:first-child)
            display none
         .home-instagram__list.active &:not(:first-child)
            display block
   &__more
      margin-top 2rem
      .icon-arrow-right
         transform rotate(90deg)
      &.active .icon-arrow-right
         transform rotate(-90deg)
      
.instagram-preview
   background-color #fff
   max-width 40rem
   margin-left auto
   margin-right auto
   +above('s')
      height 70rem
   +above('xl')
      height 82rem
   overflow hidden
   display flex
   flex-direction column
   align-items stretch
   text-align left
   &__video
      //min-height 40rem
      img
         max-width 100%
   &__desc
      flex: 1;
      overflow auto
      padding 4rem 2.5rem
      display none
      +above('s') 
         display block
   &__header
      min-height 6rem
      border 1px solid #f0f5f8
      position relative
      padding 1.2rem
      padding-left 8.5rem
   &__logo
      position absolute
      top 1.3rem
      left 2.5rem
      height 4rem
      width 4rem
      border-radius 50%
      overflow hidden
      img
         height 100%
         width 100%
   &__name
      font-weight bold
      font-size 1.6rem
      line-height 1
      


      

////////////////////

.home-advantages
   padding 5rem 0
   +above('s')
      padding 9rem 0
   &__list
      display flex
      flex-wrap wrap
      margin 0 -.25rem
      +above('s')
         margin 0 -1rem
   &__item
      width 100%
      padding .25rem
      +above('s') 
         padding 1rem
         width 50%
      +above('m')
         width 33.33%
      display flex
      align-items stretch
      +below('xs')
         &:nth-child(4)
            order 1
         &:not(:nth-child(4))
            order 2

.home-advantages-block
   border-radius 1rem
   background-color #fff
   border 1px solid #ECF4F7;
   +above('s')
      padding 2.5rem
      border none
      background-color #F9F9F9
   +above('m')
      padding 3.5rem
   display block
   width 100%
   overflow hidden
   position relative
   &::before
      +above('s')
         content ''
         left 0
         position absolute
         background none
         transform none
         top 0
         border-left 3px solid #F5DB51
         border-top 3px solid #F5DB51
         width 2.7rem
         height 2.7rem
         border-radius 1rem 0 0 0
   &__title
      background-color #ECF4F7
      width 100%
      display block
      padding .8em 2rem 
      font-size 1.6rem
      +below('xs')
         line-height 1.3
         &::after
            content ''
            width 1rem
            height .6rem
            background-image resolve('icon-arrow-down.svg')
            position absolute
            top 2rem
            right 1.5rem
            transition .2s
            .ui-tabs-active &
               transform scale(-1)
      +above('s')
         padding 0
         background-color transparent
         pointer-events none
         margin-bottom .5em
         font-size 1.8rem
      font-weight bold
      font-family $font-secondary
      font-weight 600
      position relative
      &::before
         +below('xs')
            content ''
            position absolute
            top 50%
            left 0
            width 3px
            height 1.4rem
            background-color #F5DB51;
            transform translateY(-50%)
         border-radius 1rem 0 0 0
      span
         +below('xs')
            display none
   &__desc
      color #696969
      line-height 2.3rem
      padding 2rem
      // transition .2s
      // +below('xs')
      //    &[aria-hidden="true"]
      //       height 0 !important
      +above('s')
         padding 0
      
.home-advantages-info
   background-color #354445
   color $white
   width 100%
   display block
   border-radius 1rem
   padding 2.5rem
   +above('m')
      padding 3.5rem
   background-image resolve('home-advantages-info-bg.jpg')
   background-size cover
   background-position center
   &:hover
      color $white
   &__icon
      display block
      margin-bottom 1em
      svg
         height 2.9rem
         width 2.9rem
         fill #F5DB51
   &__title
      font-family $font-secondary
      font-weight 600
      font-size 1.6rem
      line-height normal
      +above('s')
         font-size 2.1rem
         line-height 2.8rem
      margin-bottom .2em
      span
         color #F5DB51
   &__phone
      font-size 2.1rem
      +above('s')
         font-size 2.7rem
      font-weight 500
      
//////////////////////////////////////

.home-feedback
   background-color #fff
   padding 12rem 0 5rem
   +above('s')
      padding 12rem 0 13rem
      background-color #F9F9F9
      padding 9rem 0 13rem
   position relative
   svg
      width 15rem
      height 7rem
      display block
      margin-bottom 1rem
      +above('s')
         display none
   &__bg
      background-position center top
      position absolute
      top 0
      right 0
      bottom auto
      height 22rem
      background-size 250%
      left -7rem
      +above('s')
         left 0
         background-size cover
         height auto
         bottom 0
   &__container
      position relative
      z-index 2
      +below('xs')
         background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 10%, #FFFFFF 17%);
   &__content
      max-width 47rem
   &__title
      font-family $font-secondary
      font-weight 600
      font-size 2.1rem
      +above('s')
         font-size 3.5rem
      line-height 1.2
      margin-bottom .5em
   &__desc
      font-size 1.4rem
      line-height 2.1rem
      +above('s')
         font-size 1.6rem
         line-height 2.4rem
      
.home-feedback-form
   margin-top 1rem
   +above('s')
      margin-top 2.5rem
      max-width 25rem
   .field-wrapper
      margin-bottom 2rem
   .btn
      width 100%
      margin-top 2rem
   &__policy
      margin-top 1.5rem
      font-size 1.2rem
      line-height 1.7rem
      color #B1B1B1
      

.home-map
   background-color #F9F9F9
   +above('m')
      background-color transparent
   &__container
      display flex
      flex-direction column-reverse
      +above('m')
         min-height 50rem
         align-items center
         justify-content flex-end
      position relative
   &__map
      background-color #bdbdbd
      position relative
      height 47rem
      margin 0 -2rem
      +above('m')
         margin 0
         height auto
         position absolute
         top 0
         right calc(40rem + 5rem)
         left 0
         bottom 1px
         background-color #f9f9f9
      +above('xl')
         left calc((100vw - 128rem) / -2)
   &__content
      width 100%
      margin-left auto
      margin-right 0
      padding 4rem 0 3rem 0
      +above('m')
         max-width 40rem
         padding 7.5rem 0 5rem 9.5rem
   &__title
      font-size 2.7rem
      font-weight 600
      font-family $font-secondary
      line-height 1.2
      margin-bottom 1em
      margin-left -.5em
   &__footer
      margin-top 4.5rem
      display flex
      align-items center
      .btn
         margin-right 3rem
      .link
         text-transform uppercase
         font-size 1.2rem
         font-weight bold
         white-space nowrap
         
.icon-arrow-right
   display inline-block
   width 1rem
   height 1rem
   background-image resolve('small-arrow-right.svg')
   background-position center
   background-size contain
   margin-left .5rem
   
      
.branches
   &__title
      font-size 2.1rem
      font-family $font-secondary
      font-weight bold
      margin-bottom .3em
   ol
      counter-reset: branches; 
      li
         margin-bottom 1rem
         padding-left 2rem
         position relative
         font-size 1.4rem
         line-height 2rem
         &::before
           counter-increment: branches;                 
           content: counter(branches)"."; 
           position absolute
           top 0
           left 0
           color #B1B1B1
           font-size 1.4rem