.cats-select
   color #009FE3
   border-radius 99rem
   padding .5em 1.3em
   padding-right 3.5rem
   max-width 100%
   border: 1px solid #BCE3F3;
   margin-bottom 3rem
   background-image resolve('icon-arrow-down.svg')
   background-position center right 1.5rem

.posts
   padding-bottom 6rem
   +above('s')
      padding-bottom 0
   &__section-title
      font-size 3.5rem
      font-family $font-secondary
      font-weight 600
      letter-spacing: -0.01em;
      margin-bottom .3em
      margin-top -2rem
      margin-left -.1em
   .cats
      margin-bottom 4rem
   &__list
      display flex
      flex-wrap wrap
      margin 0 -1rem 0
   &__item
      width 100%
      +above('s')
         width 50%
      +above('m')
         width 33.33%
      padding 1rem
      margin-bottom 2rem
      

.pagination--big
   display flex
   justify-content center
   align-items center
   font-size 1.4rem
   ul
      margin 0 2rem
      li
         a
            padding 1.1em 1.6em
            border-radius .3rem
            font-weight 500
            font-family $font-secondary
            font-feature-settings: 'pnum' on, 'lnum' on;
            border 1px solid transparent
            color #009FE3
            &:hover
               border-color #009FE3;
               color #009FE3
            &.current
               background-color #009FE3
               color $white
               pointer-events none
      
.article-preview
   &__header
      display block
   &__photo
      height 16rem
      position relative
      margin-bottom 2rem
      img
         position absolute
         top 0
         left 0
         width 100%
         height 100%
         object-fit cover
         object-position center
   &__title
      font-size 2.7rem
      line-height 3rem
      font-family $font-secondary
      margin-bottom .3em
      font-weight 600
   &__desc
      font-size 1.4rem
      line-height 2.1rem
      p
         line-height inherit
      .link
         background-image none

.cats
   display flex
   flex-wrap wrap
   font-size 1.4rem
   margin 0 -.4em
   li
      padding .4em .4em
   a
      display block
      border-radius 99rem
      border: 1px solid #BCE3F3;
      color #009FE3
      padding .5em 1.5em
      &:hover
         border-color #009FE3
      &.active
         background-color #009FE3
         color $white
         border-color #009FE3 
         pointer-events none
         

.posts-load-more
   background-color #009FE3
   border-radius .3rem
   width 100%
   padding 1em
   color $white
   width 100%
   display block
   text-align center
   &:hover
      color $white
      
.article
   padding-bottom 1rem
   +above('s')
      padding-bottom 3rem
   &__section-title
      font-family $font-secondary
      font-weight 600
      line-height normal
      font-size 2.4rem
      margin-bottom 1em
      +above('s')
         font-size 3.5rem
   &__photo
      margin-bottom 2.5rem
      +above('s')
         margin-bottom 3.5rem
      img
         width 100%
         border-radius 1rem
   &__desc-wrapper
      display flex
      padding-bottom 2rem
   &__desc
      +above('m')
         padding-right 2rem
   .info-block
      background-color #fff
      
.article-prices
   .prices
      +below('xs')
         padding-top 0 !important
      //padding-top 3rem
      //background-color transparent
         

.article-feedback
   background: linear-gradient(131.37deg, #FFFFFF -23.58%, #D5F2FD 104%);
   &__content
      padding 4rem 0rem 4rem
      +above('s')
         padding 6rem 4rem 4rem
      +above('m')
         padding 6rem 4rem 13rem
      position relative
   &__label
      font-size 1.6rem
      font-family $font-secondary
      font-weight 500
      background-color #F5DB51
      border-radius .5rem
      display inline-block
      padding .4em 1em
      margin-bottom 1rem
   &__section-title
      font-size 2.4rem
      +above('s')
         font-size 3.5rem
      font-weight 600
      font-family $font-secondary
      line-height 1.2
      margin-bottom .5em
   &__inner
      max-width 35rem
   &__desc
      margin-bottom 3rem
      font-size 1.4rem
      +below('xs')
         line-height 1.8
      +above('s')
         font-size 1.8rem
      span
         color #B1B1B1
   .btn
      margin-top 27rem
      position relative
      z-index 2
      padding-left 2.5em
      padding-right 2.5em
      +below('xs')
         width 100%
      +above('m')
         margin-top 0
   &__bg
      position absolute
      z-index 0
      //transform translateX(-50%)
      bottom 5.5rem
      width 32rem
      height 32rem
      +above('s')
         left 2rem
         width 32rem
         height 32rem
      +above('m')
         left auto
         transform none
         bottom 0
         right 0rem
         width 45rem
         height 47.8rem
      background-size contain
      background-position center bottom