.sales
   &__section-title
      font-size 2.4rem
      margin-bottom 1em
      +above('s')
         font-size 3.5rem
      font-weight 600
      font-family $font-secondary
   &__content
      display flex
      flex-wrap wrap
      margin-left -1rem
      margin-right -1rem

.sales-preview
   //margin-left -1rem
   position relative
   width calc(100% - 1rem)
   margin-bottom 3rem
   +above('s')
      margin-bottom 7rem
   &__inner-wrapper
      padding-left 1rem
      +above('s')
         clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
         overflow hidden
         max-width 51rem
      overflow hidden
      position relative
      z-index 2
   &__inner
      border-radius 1rem
      padding 2rem 2.5em 8.5rem 2.5rem
      +above('s')
         padding 5.5rem 10rem 10.1rem 4.8rem
         border-radius 1rem 0 0 1rem
      background: linear-gradient(13.11deg, #009FE3 7.69%, #3FC6FF 93.67%);
      color $white
      position relative
   &__title
      display block
      font-family $font-secondary
      font-weight 600
      line-height normal
      margin-bottom 1.4rem
      font-size 2.1rem
      +above('s')
         font-size 3.5rem
   &__desc
      line-height 2rem
      font-size 1.4rem
      margin-bottom 2rem
      +above('s')
         line-height 2.5rem
         font-size 1.8rem
         margin-bottom 2.5rem
   &__ps
      position absolute
      bottom 0
      left 0
      right 0
      background-color #F25F5F
      padding .5rem 2rem
      border-radius 0 0 1rem 1rem
      +above('s')
         padding .5rem 5rem
         border-radius 0 0 0 1rem
      font-size 1.2rem
   &__prices
      margin-bottom 3rem
      +above('s')
         margin-bottom 3.3rem
      &-current
         font-size 2.1rem
         padding-right 2.3em
         +above('s')
            font-size 2.7rem
            padding-right 2.3em
         font-weight 500
         font-style italic
         color $black
         position relative
         span
            position relative
            z-index 2
         &::after
            content ''
            position absolute
            left -4.9rem
            top -.2em
            bottom -.2em
            right .5em
            background-color $yellow
            transform skew(-12deg) translateX(-.45rem)
            border-radius 0 0 1rem 0
         &::before
            content ''
            position absolute
            bottom -1.55rem
            left -5.8rem
            z-index 0
            border-style: solid;
            border-width: 0 1rem 1rem 0;
            border-color: transparent #EBCC29 transparent transparent;
      &-old
         font-size 1.8rem
         color rgba($white, .7)
         padding-left 0
   &__photo-desc
      position absolute
      top 1rem
      right 0
      bottom 1rem
      width 60%
      background-size cover
      background-position center
      border-radius 0 1rem 1rem 0
      &::before
         content ''
         position absolute
         top 0
         left -50%
         right 0
         bottom 0
         background: linear-gradient(90deg, #009FE3 -1.08%, rgba(0, 159, 227, 0) 70.91%);
         mix-blend-mode: multiply;
   &__photo-mob
      height 14.2rem
      background-size cover
      background-position center
      +above('s')
         display none
      
.btn-more
   display inline-block
   font-size 1.2rem
   letter-spacing: 0.05em;
   font-weight bold
   line-height 4.8rem
   color $white
   border 1px solid $white
   border-radius 99rem
   padding 0 3.4em 0 3.4em
   text-transform uppercase
   svg
      fill currentColor
      height 1rem
      width 1rem
      display inline-block
      vertical-align middle
      transform rotate(-90deg)
      margin-left .5rem
      margin-top -.2rem
   &:hover
      color $white
   &--blue
      border-color $blue
      color $blue
      &:hover
         color $blue
   


.sales-preview-light
   border-radius 1rem
   position relative
   padding 0 0 1rem 1rem
   //margin-left -1rem
   width calc(100% - 1rem)
   margin-bottom 3.5rem
   +above('s')
      margin-bottom 6rem
   &__inner-wrapper
      background-color #fff
      border-radius 1rem 1rem 1rem 0
   &__inner
      padding 3rem 2.5rem 6rem
      +above('s')
         padding 6.5rem 5rem 9rem
      max-width 50rem
      position relative
      z-index 2
   &__label
      display inline-block
      color $black
      position relative
      padding-right 1.1em
      span
         position relative
         z-index 2
      &::after
         content ''
         position absolute
         left -5rem
         top 0em
         bottom -.1em
         right .5em
         background-color $yellow
         transform skew(-12deg) translateX(-.45rem)
         border-radius 0 0 1rem 0
      &::before
         content ''
         position absolute
         bottom -1.3rem
         left -5.9rem
         z-index 0
         border-style: solid;
         border-width: 0 .9rem .9rem 0;
         border-color: transparent #EBCC29 transparent transparent;
   &__label,
   &__title
      font-size 2.1rem
      +above('s')
         font-size 3.5rem
      font-weight 600
      font-family $font-secondary
      line-height normal
   &__title
      margin-bottom 1rem
   &__desc
      font-size 1.4rem
      line-height 2rem
      +above('s')
         line-height 2.5rem
         font-size 1.8rem
      color $black
      margin-bottom 2.2rem
   &__ps
      position absolute
      bottom -1.7rem
      left 1rem
      right 0
      background-color #F25F5F
      padding .5rem 2.5rem
      border-radius 0 0 1rem 1rem
      +above('s')
         padding .5rem 5rem
         clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 100%, 0% 100%);
         max-width 40rem
         border-radius 0 0 0 1rem
      font-size 1.2rem
      color $white
      z-index 3
   &__photo-desc
      +above('s')
         position absolute
         top 0
         right 0
         bottom 1rem
         width 60%
         background-size cover
         background-position center
         border-radius 0 1rem 1rem 0
         &::before
            content ''
            position absolute
            top 0
            left -20rem
            right 0
            bottom 0
            background: linear-gradient(90.46deg, #FFFFFF 29.4%, rgba(255, 255, 255, 0) 57.47%);
            //mix-blend-mode: multiply;
   &__photo-mob
      height 14.2rem
      background-size cover
      background-position center
      margin-bottom 1.5rem
      +above('s')
         display none
      
.sales-preview-light-old-price
   display flex
   align-items center
   font-style italic
   font-size 1.8rem
   margin-bottom .4rem
   +above('s')
      margin-bottom .7rem
      margin-left -.15em
   &__value
      color #B1B1B1;
      text-decoration line-through
      margin-right 2rem
      +above('s')
         margin-right .8rem
   &__proc
      color $white
      position relative
      padding .14em .85em
      margin-top .1em
      &::before
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background-color #09B58C;
         transform skew(-12deg)
         border-radius 1rem 0 1rem 0
      span
         position relative
         z-index 2
   
         
.sales-preview-light-current-price
   font-weight bold
   font-size 2.1rem
   +above('s')
      font-size 2.7rem
   font-weight 500
   margin-bottom 2rem
   font-style italic
   


/////////////////////////////////

.small-sales-preview
   width 100%
   margin-bottom 2rem
   +above('s')
      width 50%
      margin-bottom 7rem
   padding 1rem
   position relative
   display flex
   align-items stretch
   &__ps
      position absolute
      bottom 0
      left 1rem
      right 1rem
      background-color #F25F5F
      padding .5rem 2.5rem
      +above('s')
         padding .5rem 5rem
      font-size 1.2rem
      border-radius 0 0 1rem 1rem
      color $white
      z-index 3
   &__inner
      padding 2.2rem 0rem 3rem 2.5rem
      +above('s')
         padding 3rem 1rem 6.8rem 5rem
      background-size cover
      background-position center
      border-radius 1rem
      width 100%
   &__label
      display inline-block
      color $black
      position relative
      font-weight 500
      font-style italic
      font-size 2.1rem
      padding .22em 0
      min-width 10rem
      padding-right 1.2em
      +above('s')
         padding .3em 0
         padding-right 2.2em
         font-size 2.7rem
      margin-bottom 1rem
      line-height 1
      span
         position relative
         z-index 2
      &::after
         content ''
         position absolute
         left -5rem
         top 0em
         bottom -.1em
         right .5em
         background-color $yellow
         transform skew(-12deg) translateX(-.45rem)
         border-radius 0 0 1rem 0
      &::before
         content ''
         position absolute
         bottom -1.2rem
         left -5.9rem
         z-index 0
         border-style: solid;
         border-width: 0 .9rem .9rem 0;
         border-color: transparent #EBCC29 transparent transparent;
   &__title
      color $white
      font-size 1.6rem
      font-weight 600
      font-family $font-secondary
      line-height normal
      margin-bottom .3rem
      +above('s')
         font-size 2.1rem
         margin-bottom 2.7rem
   .btn-more
      +below('xs')
         border none
         padding 0
         svg
            display none
      


.pagination
   margin 4rem 0
   +above('s')
      margin 8rem 0
   &--sales
      margin -2rem 0 4rem
      +above('s')
         margin -4rem 0 8rem
   font-size 1.2rem
   &__content
      display flex
      align-items center
      justify-content center
   ul
      display flex
      font-family $font-secondary
      font-weight 500
      li
         padding .2em
      a
         display block
         padding .35em .8em
         color #B1B1B1
         &:hover
            color $black
         &.current
            background-color #ECF4F7
            color #009FE3
            pointer-events none
   &__prev,
   &__next
      display block
      padding .5em 1.5em
      svg
         height 1.5rem
         width 3.2rem
         fill #B1B1B1
         transition .2s
      &:hover svg
         fill $black