.services-list
   margin-top 2.5rem
   padding-bottom 6rem
   +above('s')
      padding-bottom 10rem
   &__list
      display flex
      flex-wrap wrap
      margin -1rem
   &__item
      width 100%
      +above('xl')
         width 50%
      padding 1rem
      
.service-preview
   display block
   background-color #fff
   padding 2.5rem 2.5rem 8rem
   +above('s')
      padding 4rem 4rem 8rem
   border-radius 1rem
   position relative
   transition .2s
   overflow hidden
   &:hover
      background-color #EBF4F7;
   &__icon
      position absolute
      top 0
      right 0
      height 9.2rem
      width 9.2rem
      +above('s')
         height 15rem
         width 15rem
      border-radius 0 0 0 100%
      overflow hidden
      display flex
      align-items center
      justify-content center
      i
         display block
         height 6.5rem
         width 6.5rem
         background-size contain
         background-position center
         position relative
         z-index 2
         margin-left 22%
         margin-top -8%
      &::before
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background: linear-gradient(226.76deg, #EBF4F7 1.62%, #FFFFFF 92.62%);
         transition .2s
   &:hover &__icon::before
      opacity 0
   &__header
      width calc(100% - 6rem)
      +above('s')
         width calc(100% - 18rem)
   &__title
      display block
      font-size 2.1rem
      +above('s')
         font-size 2.7rem
      font-weight 600
      font-family $font-secondary
      line-height 1.3
      margin-bottom .3em
   &__price
      font-weight 500
      font-size 2.1rem
      font-style italic
      margin-bottom .3em
      display block
   ul
      font-size 1.4rem
      line-height 2rem
      li
         position relative
         padding .25em 0
         +above('s')
            padding .35em 0
         &::before
            content ''
            position absolute
            top 1.35rem
            left -1.3rem
            height 4px
            width 4px
            background-color #E6E6E6
            border-radius 50%
            transition .2s
         a
            svg
               height 1rem
               width 1rem
               display inline-block
               transform rotate(-90deg) translate(-.1rem, .3rem)
               fill rgba(51, 51, 51, 0.3);
               opacity 0
               transition .2s
         +below('xs')
            &::before
               background-color rgba(0, 159, 227, 0.3);
            svg
               opacity 1 !important
   &:hover
      li::before
         background-color rgba(0, 159, 227, 0.3);
      svg
         opacity 1
   &__more
      margin-top 1.3rem
      display inline-block
      color #B1B1B1;
   &:hover &__more
      color rgba(0, 159, 227, 0.5);


/////////////////////////////////////////////////////////////////////////

.service-header
   margin-bottom 3.5rem
   +above('s')
      margin-top 2rem
      margin-bottom 5rem
   &__content
      background-color #fff
      border-radius .5rem
      overflow hidden
   &__top
      +above('s')
         padding 6.7rem 4.6rem 14.5rem
      position relative
      
   &__bg
      background-size cover
      background-position center
      display block
      height 16.5rem
      +above('s')
         height 100%
         width 100%
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         &::before
            content ''
            position absolute
            top 0
            left 0
            bottom 0
            right 0
            background: linear-gradient(90.46deg, #FFFFFF 29.4%, rgba(255, 255, 255, 0) 57.47%);
   &__inner
      max-width 33rem
      position relative
      z-index 2
      padding 2rem 2.5rem 6rem
      +above('s') 
         padding 0
   &__title
      font-size 2.4rem
      margin-bottom 1em
      +below('xs')
         line-height 1.2
      +above('s')
         font-size 3.5rem
         margin-bottom .5em
      font-family $font-secondary
      font-weight 600
   &__desc
      margin-bottom .5em
      +above('s')
         margin-bottom 1.6em
   &__price
      font-size 2.7rem
      margin-bottom 1rem
      font-family $font-secondary
      font-weight 600
   .btn
      +below('xs')
         width 100%
      

.service-nav
   display flex
   justify-content space-between
   flex-wrap wrap
   padding 2rem 4.6rem
   //margin 0 -.5em
   a
      padding .5em
      white-space nowrap
      

/////////////////

.works
   padding 0rem 0 4rem
   +above('s')
      padding 2rem 0 3rem
   &__list
      margin-top -.5rem
      +above('s')
         display flex
         flex-wrap wrap
         margin 0 -1rem
   &__item
      padding 1rem 0 0rem
      +above('s')
         width 50%   
         padding 1rem
   &__footer
      padding 1.5rem 0
      text-align left
      +above('s')
         text-align center
         padding 3rem 0

.work-preview
   &__photo
      height 16rem
      +above('s')
         height 24.2rem
      overflow hidden
      border-radius 1rem
      margin-bottom .5rem
      img
         width 100%
   &__title
      font-size 1.6rem
      font-family $font-secondary
      font-weight 600
      +above('s')
         font-size 1.8rem
      

.about-product
   background-color #fff
   padding 4.2rem 0 4rem
   +above('s')
      padding 6.5rem 0 5rem
   &__content
      display flex
   &__text
      +above('s')
         padding-right 5rem

.info-block
   background: #F9F9F9;
   border-radius 1rem
   overflow hidden
   position sticky 
   top 10rem
   width 20rem
   +below('s')
      display none
   &__inner
      padding 2rem
   &__header
      height 15.7rem
      position relative
      img
         height 100%
         width 100%
         object-fit cover
         object-position center
   &__title
      font-weight 600
      margin-bottom .5em
      font-size 1.6rem
      line-height 1.3
   &__desc
      margin-bottom .5em
      font-size 1.2rem
   &__more
      font-size 1.2rem
      

.product-steps
   padding 4rem 0 4rem 0
   +above('s')
      background-color #fff
      padding 0 0 7rem 0
   &__section-title
      padding-left 3.6rem
      &.section-title
         margin-bottom .4em
   &__list
      counter-reset: steps;  
      +above('s')
         display flex
         flex-wrap wrap
   &__item
      width 100%
      padding 1rem 2rem 1rem 3.5rem
      +above('s')
         width 50%
         padding 2rem 2rem 0 3.5rem
      position relative
      +below('xs')
         &:not(:last-child)::after
            content ''
            position absolute
            top 0
            left 1.2rem
            width 1px
            bottom 0
            background-color #ECF4F7;
      &::before
         counter-increment: steps; 
         content: counter(steps);
         position absolute
         top .7rem
         +above('s')
            top 1.8rem
         left 0
         font-size 1.2rem
         line-height 2.4rem
         width 2.4rem
         background-color #ECF4F7;
         border-radius 50%
         text-align center
         color $blue
         z-index 2
   &__subtitle
      font-size 1.6rem
      +above('s')
         font-size 1.8rem
      margin-bottom .5em
      font-family $font-secondary
      font-weight 600
      

.plans
   background #fff
   +above('s')
      background transparent
   .container
      +above('s')
         padding-left 0
   &__content
      padding 3.3rem 0 5.5rem
      +above('s')
         padding 6.5rem 0
   &__desc
      margin-bottom 3.5rem
      +above('xl')
         margin-bottom 3rem

.plans-list-wrapper
   +above('xl')
      padding-left 20rem      
.plans-list
   +above('xl')
      display flex
   &__item
      padding .1rem
      +above('xl')
         padding 1rem
      
.plan
   background-color #fff
   max-width 80rem
   +above('xl')
      text-align center
      border-radius 1rem
   &__body
      +below('l')
         padding-top 2rem
   &__row
      position relative
      padding .3rem 2.5rem
      +above('xl')
         padding 1.5rem 2rem
         border-bottom 1px solid #ECF4F7;
      &-price
         border-bottom none
      svg
         height 2.6rem
         width 2.6rem
         margin-left auto
         margin-right auto
   &__header
      background-color #ECF4F7;
      width 100%
      border-radius 1rem
      text-align left
      position relative
      padding 1.2em 2em 1.2em 2.5rem
      +above('xl')
         padding 1.2em 1em 1.2em 1em
         text-align center
         border-radius 1rem 1rem 0 0
      svg
         position absolute
         top 2rem
         right 2.3rem
         height 1rem
         width 1rem
         fill $blue
         +above('xl')
            display none
   &__body
      +below('l')
         display none
         border 1px solid #ECF4F7
         border-radius 1rem 
   &__footer
      padding 0 1.5rem 5rem
      +above('xl')
         padding 2rem 1.5rem 7rem
      .btn
         margin-bottom 1.5rem
         width auto
         +above('xl')
            width auto
   &__attention
      font-size 1.2rem
      +above('xl')
         max-width 15rem
      margin-left auto
      margin-right auto
   &__title
      font-size 1.8rem
      font-family $font-secondary
      font-weight 600
      margin-bottom .3em
   &__subtitle
      color $blue
      position absolute
      top 1.3em
      right 3.6em
      +above('xl')
         position static
   &__row
      &-title
         +below('l')
            color $gray
            display inline
            &::after
               content ':'
      &-content
         +below('l')
            display inline
      &-price
         +above('xl')
            min-height 10rem
         +below('l')
            margin-bottom 2rem
            padding-top 1rem
      

.plan-price
   font-family $font-secondary
   font-weight 600
   display inline
   margin-left .3rem
   font-size 2.7rem
   +above('xl')
      font-size 2.1rem
      margin-left 0
      display block
   del
      color $gray
      font-weight normal
      font-size 1.6rem
      display none
      +above('m') 
         display block
         
         
.plans-list__item:first-child .plan__row-title
   +above('xl')
      position absolute
      top 2rem
      left -2rem
      transform translateX(-100%)
+above('xl')
   .plans-list__item:not(:first-child) .plan__row-title
      display none
   


.service-prices
   .prices
      +below('s')
         padding-top 3rem
         background-color transparent
         .section-title
            font-size 2.1rem
            margin-bottom .5rem
         &__list
            margin-top 2rem
         &__tab
            padding .7em 1.7em
            line-height 1.2
            span
               white-space normal
               font-weight 600
               font-family $font-secondary
         &__panel
            padding-top 1rem
            padding-bottom 0
      .download-file
         margin-top 0rem

///////////////////////////////////

.faq
   background-color #fff
   padding 4rem 0
   +above('s')
      padding 5rem 0
   &__lists
      display flex
      flex-wrap wrap
      margin-top 3rem
      +above('s')
         margin-top 0
   &__list
      width 100%      
      +above('s')
         width 50%
   &__item
      width 100%
      padding .1rem 0
      +above('s')
         padding 1rem
   &__tab
      width 100%
      white-space normal
      text-align left
      background-color #ECF4F7;
      border-radius .5rem
      font-family $font-secondary
      font-weight 600
      line-height 1.4
      font-size 1.6rem
      padding .9em 2em .9em 1.6em
      +above('s')
         padding .9em 2em .9em 1.3em
         font-size 1.8rem
      &.ui-state-active
         border-radius .5rem .5rem 0 0
         svg
            transform scale(-1)
      svg
         position absolute
         top 3rem
         right 2rem
         height .5rem
         width .9rem
         display inline-block
         vertical-align middle
         fill $blue
         margin-left .5rem
         margin-top -.5rem
         transition .2s
   &__panel
      padding 3.5rem 2.5rem 4rem
      +above('s')
         padding 3.5rem 2.5rem 6rem
      border 1px solid #ECF4F7 
      

.plus-minus
   padding 4.4rem 0
   +above('s')
      padding 5rem 0
   +below('xs')
      .section-title
         padding-left 3.5rem
         margin-bottom 1.8rem
      .plus-minus__row-title
         padding-left 3.5rem
   &__rows
      +above('s')
         display flex
   &__row
      width 100%
      +above('s')
         width 50%
      &-title
         font-family $font-secondary
         font-weight 600
         margin-bottom 1em
         font-size 1.6rem
         margin-top 2rem
         +above('s')
            font-size 1.8rem
            margin-top 0
      ul
         li
            position relative
            margin-bottom .5rem
            padding-left 3.5rem
            +above('s')
               padding-left 4rem
               margin-bottom 1.8rem
            &::before
               content ''
               position absolute
               top .2rem
               +above('s')
                  top -.1rem
               left 0
               width 2.5rem
               height 2.5rem
               background-image resolve('icon-plus.svg')
         &.plus-minus__list--plus li
            &::before
               background-image resolve('icon-plus.svg')
         &.plus-minus__list--minus li
            &::before
               background-image resolve('icon-minus.svg')


////////////////////

.service-advantages
   background-color #fff
   padding 4rem 0 4rem
   +above('s')
      padding 0 0 5rem
      background-color transparent
   &__list
      margin 0 -1rem
      +above('s')
         display flex
         align-items stretch
   &__item
      +above('s')
         width 33.33%
      text-align center
      padding 1rem
      display flex
      align-items stretch
      &-inner
         background-color #f9f9f9;
         +above('s')
            background-color #fff
         padding 4rem 2rem
         width 100%
   &__count
      font-size 4.6rem
      font-family $font-secondary
      color $green
      @supports (-webkit-background-clip: text)
         background: linear-gradient(#14b0a8, #019ad2);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      

.slick-dots
   display flex
   justify-content center
   button
      font-size 0
      height 1rem
      width 1rem
      background-color #C4C4C4;
      border-radius 50%
   li
      padding 0rem 1.5rem
   .slick-active button
      background-color #333333;

////////////////////////

.service-videos
   padding 0 0 5rem
   +above('s')
      padding 5rem 0
   background-color #fff
   
////////////////////////

.partners
   padding 3rem 0
   +above('s')
      padding 5rem 0
   &__desc
      margin-bottom 2rem
   &__list
      display flex
      flex-wrap wrap
      margin 0 -1rem
      margin-bottom 2rem
      +below('xs')
         margin 0 -.5rem
         margin-bottom 2rem
      li
         padding 1rem
         width 33.33%
         +below('xs')
            width 100%
            padding .5rem
         img
            max-width 100%
            border-radius 1rem
            +below('xs')
               width 100%
         &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3))
            width 50%
            +above('s')
               width calc(100% / 5)
      

/////////////////////////
.dark-text-section
   background-color #fff
   padding 4rem 0 2rem
   +below('xs')
      margin-bottom 2.5rem
   .formatted-text
      font-size 1.6rem
   +above('m')
      padding 7rem 0 2rem
      background-color transparent

.service-small-doctors
   +below('s')
      .small-doctors
         padding-bottom 3rem

.feedback-section-2
   background-size cover
   padding 3rem 2rem 0
   +above('m')
      padding 5rem 0
   position relative
   .section-title
      margin-bottom .5em
   &__bg
      position absolute
      top 0
      left 0
      right 0
      background-size cover
      background-color #213570
      z-index 1
      height 38rem
      background-position top right -6rem
      +above('m') 
         background-position center
      &::before
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background: linear-gradient(90.17deg, #FFFFFF 29.4%, rgba(255, 255, 255, 0) 76.12%);
         +above('m')
            display none
      +above('m')
         top 0
         height 100%
         background-size cover
         background-color #fff
   &__container
      z-index 2
      position relative
   &__section-title,
   &__subtitle,
   &__desc
      +above('m')
         padding-left 5rem
   &__desc
      font-size 1.4rem
      +below('s')
         line-height 1.2
      +above('m')
         font-size 1.6rem
         margin-left -1.7rem
      ol
         counter-reset: content-list;
         list-style none
         +above('m')
            display flex
            justify-content space-between
            max-width 56rem
         li
            margin-bottom .5em
            padding-left 1.8rem
            position relative
            padding-right 0rem
            +above('m')
               margin-bottom 0
               max-width 18rem
               &:last-child
                  margin-left -1rem
            &::before
               counter-increment: content-list;      
               content counter(content-list) "."
               position absolute
               left -1rem
               width 2.5em
               text-align right
               padding-right 1.1em
               //color #cbd5f0
               top 0em
               color $gray
               +above('s')
                  top 0
               +above('m')
                  top -.00em
                  
               transition .2s
   .section-title
      +above('m')
         font-size 3.5rem
   &__subtitle
      font-size 1.6rem
      margin-top 1em
      +above('m')
         font-size 2.7rem
         margin-top 0
      font-weight 600
      font-family $font-secondary
      margin-bottom .5em

.feedback-form-2
   //background-color #fff
   background: linear-gradient(90deg, #FFFFFF 60.22%, rgba(255, 255, 255, 0) 100%);
   padding 4rem 5rem
   margin-top 5rem
   +above('m')
      border-radius 1rem
   +below('s')
      background: linear-gradient(180deg, rgba(58, 82, 154, 0) 0%, rgba(58, 82, 154, 0.5) 16.38%, #213570 46.62%);
      margin 0 -3.5rem
      padding 4rem 2rem
      .field-wrapper
         &__title
            color $white
         input
            background-color #919EC4;
            color $white
   &__inner
      // max-width 40rem
      // +above('m')
      //    max-width 54rem
   &__title
      font-size 2.7rem
      font-family $font-secondary
      font-weight 600
      margin-bottom .4em
      line-height 1.1
      +below('s')
         color $white
         font-size 2.1rem
   &__desc
      margin-bottom .8em
      font-size 1.6rem
      color #B1B1B1;
      line-height 1
      +below('s')
         font-size 1.4rem
         color #99A5C8
         line-height normal
   .btn
      width 100%
      margin-top .5em
      margin-bottom 1.2em
      +above('m') 
         width auto
   &__policy
      font-size 1.2rem
      color #63719B;
      +above('m')
         color #B1B1B1
   &__fields
      margin 0 -.5rem 1rem
      +above('m')
         margin 0 -1rem 1rem
         display flex
         align-items flex-end
         .btn
            margin-left 3rem
            margin-bottom .7rem
            max-width 24rem
            width 100%
      .field-wrapper 
         padding .5rem
         +above('m')
            padding .5rem 1rem
            width 25rem
            margin-bottom 0
   

///////////////////////////


