.sidebar
   padding 7.2rem 2.5rem 2rem
   width 26rem
   //position sticky
   top 2rem
   +above('xl')
      width 30rem
      padding 7.2rem 4.5rem
   background-color #fff
   
   .video-slider
      padding 0 2.5rem 4rem
      margin 0 -2.5rem
      +above('xl')
         padding 0 4.5rem 4rem
         margin 0 -4.5rem

.sidebar-services
   margin-bottom 2rem
   &__title
      font-family $font-secondary
      font-weight bold
      font-size 1.8rem
      margin-bottom 1.2em
   &__list
      margin 0 -2.5rem
      +above('xl')
         margin 0 -4.5rem
   &__tab
      position relative
      padding 1em 2.5rem
      +above('xl')
         padding 1em 4.5rem
      width 100%
      display inline-block
      border-bottom: 1px solid #ECF4F7;
      //dotted-link($black, 1, .2)
      svg
         height 1rem
         width 1rem
         position absolute
         top 2rem
         right 1.2rem
         +above('xl')
            right 2rem
         fill #333333;
         transition .2s
      &.ui-state-active svg
         transform scale(-1)
   &__panel
      background-color  #F9F9F9;
      padding 2.5rem 7rem
      a
         link($blue)
         padding .35em 0

.sidebar-order
   padding 4.5rem
   margin 0 -4.5rem
   border-bottom: 1px solid #ECF4F7;
   &__title
      font-weight bold
      font-family $font-secondary
      font-size 1.8rem
   &__subtitle
      color #B1B1B1;
      font-size 1.2rem
      display block
   &__phone
      font-weight 500
      font-size 1.6rem
      display inline-block
      margin-bottom 1em
      

//////////////////////////////////////////////////////////


.video-slider
   border-bottom: 1px solid #ECF4F7;
   &__footer
      margin-top 1rem
   &__title
      font-family $font-secondary
      font-weight bold
      font-size 1.8rem
      margin-bottom .8em
   &__content
      position relative
   &__arrows
      position absolute
      top 50%
      left 0
      right 0
      z-index 4
      transform translateY(-50%)
      pointer-events none
      display flex
      justify-content space-between
   &__arrow
      padding 1rem
      +above('s')
         padding 2rem
      pointer-events all
      svg
         width 1.2rem
         height 1.4rem
         fill $white
   .slick-track
      //width 100%
   &__item
      width 100%
      img
         width 100%
         border-radius: 1rem;


.video-slider-small-list
   margin-left -.5rem
   margin-top .5rem
   &__item
      width 10rem
      maring .25rem
      border 2px solid transparent
      border-radius: .8rem;
      &.slick-active
         border-color $blue
      +above('s')
         width 10rem
         maring .25rem
      img
         max-width 100%
         border-radius: .5rem;