.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after,
.twentytwenty-vertical .twentytwenty-handle:before,
.twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: #e7eff2;
  position: absolute;
  z-index: 30;
}
.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after {
  width: 0.8rem;
  height: 999.9rem;
  left: 50%;
  margin-left: -0.5rem;
}
.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-overlay {
  transition-duration: 0.5s;
}
.twentytwenty-before-label,
.twentytwenty-after-label {
  transition-property: opacity;
}
.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
}
.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255,255,255,0.2);
  line-height: 3.8rem;
  padding: 0 2rem;
  border-radius: 0.2rem;
}
.twentytwenty-horizontal .twentytwenty-before-label:before,
.twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -1.9rem;
}
.twentytwenty-left-arrow::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  width: 1.3rem;
  height: 5rem;
  background-color: #fff;
  z-index: 31;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow,
.twentytwenty-up-arrow,
.twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 0.6rem inset transparent;
  position: absolute;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  top: 50%;
  margin-top: -0.6rem;
}
.twentytwenty-up-arrow,
.twentytwenty-down-arrow {
  left: 50%;
  margin-left: -0.6rem;
}
.twentytwenty-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}
.twentytwenty-container.active .twentytwenty-overlay,
.twentytwenty-container.active :hover.twentytwenty-overlay {
  background: rgba(0,0,0,0);
}
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0;
}
.twentytwenty-container * {
  box-sizing: content-box;
}
.twentytwenty-before-label {
  opacity: 0;
}
.twentytwenty-before-label:before {
  content: attr(data-content);
}
.twentytwenty-after-label {
  opacity: 0;
}
.twentytwenty-after-label:before {
  content: attr(data-content);
}
.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 1rem;
}
.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 1rem;
}
.twentytwenty-overlay {
  transition-property: background;
  background: rgba(0,0,0,0);
  z-index: 25;
}
.twentytwenty-overlay:hover {
  background: rgba(0,0,0,0.5);
}
.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}
.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}
.twentytwenty-before {
  z-index: 20;
}
.twentytwenty-after {
  z-index: 10;
}
.twentytwenty-handle {
  height: 3.8rem;
  width: 3.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.8rem;
  margin-top: -1.6rem;
  z-index: 40;
  cursor: pointer;
}
.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 2.2rem;
}
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 2.2rem;
}
.twentytwenty-left-arrow {
  border-right: 0.6rem solid #fff;
  left: 50%;
  margin-left: -2.5rem;
}
.twentytwenty-right-arrow {
  border-left: 0.6rem solid #fff;
  right: 50%;
  margin-right: -2.5rem;
}
