@font-face {
    font-family: 'Chalkboard SE';
    src: local('Chalkboard SE Bold'), local('ChalkboardSE-Bold'),
        url('ChalkboardSE-Bold.woff2') format('woff2'),
        url('ChalkboardSE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Chalkboard SE';
    src: local('Chalkboard SE Regular'), local('ChalkboardSE-Regular'),
        url('ChalkboardSE-Regular.woff2') format('woff2'),
        url('ChalkboardSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

