<!-- [BEGIN] breadcrumbs -->
                <div class="breadcrumbs">
                   <div class="container breadcrumbs__container">
                      <ol class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                          <a itemprop="item" href="https://example.com/dresses">
                          <span itemprop="name">Главная</span></a>
                          <meta itemprop="position" content="1">
                        </li>
                        <li class="current" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                          <a itemprop="item" href="https://example.com/dresses/real">
                          <span itemprop="name">Клиника</span></a>
                          <meta itemprop="position" content="2">
                        </li>
                      </ol>
                   </div>
                </div>
                <!-- [END] breadcrumbs -->