<!-- [BEGIN] header -->
<div class="header-wrapper hide-below-m" id="header-wrapper">
    <header class="header" id="header">
       <div class="container header__container">
          <div class="header__content">

                <div class="top-header">
                      <div class="addresses">
                          <ul>
                             <li>
                                <a href="#">
                                    <svg focusable="false" aria-hidden="true" style="color: #09B58C"><use xlink:href="svg/svg.svg#icon-m"></use></svg>
                                    <span>Новокузнецкая</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg focusable="false" aria-hidden="true" style="color: #F25F5F"><use xlink:href="svg/svg.svg#icon-m"></use></svg>
                                    <span>Красные ворота</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg focusable="false" aria-hidden="true" style="color: #213570"><use xlink:href="svg/svg.svg#icon-m"></use></svg>
                                    <span>Бауманская</span>
                                </a>
                             </li>
                          </ul>
                      </div>
                      <ul class="header-advantages">
                          <li>
                              <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-card"></use></svg>
                              <span>Лечим в рассрочку</span>
                          </li>
                          <li class="header-advantages__free">
                              <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-p"></use></svg>
                              <span>Бесплатная парковка</span>
                          </li>
                      </ul>
                      <div class="header-phones">
                         <a href="tel:+74952291424">+7 495 229-14-24 </a>
                         <button class="btn-base header-phones__callback dotted-link"><span>Обратный звонок</span></button>
                      </div>
                </div>
                
                <a href="/" class="small-logo"><svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#small-logo"></use></svg></a>
                <a href="/" class="logo"><svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#logo"></use></svg></a>

                <nav class="main-nav">
                  <ul>
                    <li><a href="/"><span>Главная</span></a></li>
                    <li><a href="/clinic.html" class="current"><span>Клиника</span></a></li>
                    <li><a href="/doctors.html"><span>Доктора</span></a></li>
                    <li><a href="#"><span>Отзывы</span></a></li>
                    <li><a href="/services-archive.html"><span>Услуги</span></a></li>
                    <li><a href="/prices.html"><span>Цены</span></a></li>
                    <li><a href="/sales.html" data-count="5"><span>Акции</span></a></li>
                    <li><a href="/posts.html"><span>Публикации</span></a></li>
                    <li><a href="/contacts.html"><span>Контакты</span></a></li>
                    <li><a href="#"><span>Видео</span></a></li>
                  </ul>
                </nav>

          </div>
       </div>
    </header>
</div>
<!-- [END] header -->
<!-- [BEGIN] mob-header -->
<div class="mob-header hide-above-l">
   <div class="container mob-header__container">
      <div class="mob-header__content">
          
          <div class="mob-header__left">
              <a href="/" class="mob-logo"><svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#small-logo"></use></svg></a>
          </div>
          <div class="mob-header__right">
              <button class="btn-base mob-phone" data-toggle="feedback-modal" aria-label="Оставить заявку"><svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-phone"></use></svg></button>
              <button class="btn-base mob-toggle" data-toggle="mob-nav-modal" aria-label="Меню">
                  <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-burger"></use></svg>
                  <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-close"></use></svg>
                </button>
          </div>


      </div>
   </div>
</div>
<!-- [END] mob-header -->


<!-- [BEGIN] mob-nav-modal -->
<div class="mob-nav-modal" id="mob-nav-modal" data-toggle-target="">
   <div class="mob-nav-modal__content" data-content="">
        <nav class="main-nav">
            <ul>
              <li><a href="/"><span>Главная</span></a></li>
              <li><a href="/clinic.html" class="current"><span>Клиника</span></a></li>
              <li><a href="/doctors.html"><span>Доктора</span></a></li>
              <li><a href="#"><span>Отзывы</span></a></li>
              <li><a href="/services.html"><span>Услуги</span></a></li>
              <li><a href="/prices.html"><span>Цены</span></a></li>
              <li><a href="#" data-count="5"><span>Акции</span></a></li>
              <li><a href="/posts.html"><span>Публикации</span></a></li>
              <li><a href="#"><span>Контакты</span></a></li>
              <li><a href="#"><span>Видео</span></a></li>
            </ul>
        </nav>
        <div class="mob-nav-contacts">
            <div class="mob-nav-contacts__row">
               Телефон: <a href="tel:+74998774295">+7 499 877-42-95</a>
           </div>
           <div class="footer-contacts__row">
                <a href="mailto:mail@doctorsmile.ru" class="link"><span>mail@doctorsmile.ru</span></a>
           </div>
           <ul class="mob-nav-contacts__soc-links">
              <li><a href="#"><i class="icon-viber"></i></a></li>
              <li><a href="#"><i class="icon-watsapp"></i></a></li>
              <li><a href="#"><i class="icon-youtube"></i></a></li>
              <li><a href="#"><i class="icon-instagram"></i></a></li>
           </ul>
        </div>
   </div>
</div>
<!-- [END] mob-nav-modal -->