<!-- [BEGIN] feedback-modal -->
<div class="modal feedback-modal" id="feedback-modal" data-toggle-target="">
   <div class="modal__container feedback-modal__container">
      <button type="button" class="btn-base modal__close feedback-modal__close" data-modal-close="" aria-label="Закрыть" title="Закрыть">
            <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-close"></use></svg>
      </button>
      <div class="feedback-modal__content modal__content" data-content="">

         <form class="modal-feedback-form">
               <div class="modal-feedback-form__title">
                  Подайте заявку на<br>
                  <span class="yellow">100% бесплатный</span> осмотр
               </div>
               <div class="modal-feedback-form__desc">
                     Мы свяжемся с вами и обсудим<br>  
                     удобное время приёма
               </div>
               <label class="field-wrapper">
                                     <div class="field-wrapper__title">Ваше имя</div>
                                     <div class="field-wrapper__wrapper">
                                          <input type="text" name="" class="field-input">
                                          <button type="button" class="btn-base field-wrapper__clear">
                                                <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-cancel"></use></svg>
                                          </button>
                                      </div>
                                  </label>
                                  <label class="field-wrapper">
                                     <div class="field-wrapper__title">Номер контактного телефона</div>
                                     <div class="field-wrapper__wrapper">
                                          <input type="text" name="" class="field-input valid">
                                          <button type="button" class="btn-base field-wrapper__clear">
                                                <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-cancel"></use></svg>
                                          </button>
                                     </div>
                                  </label>
                <button class="btn btn--primary">
                  <span class="hide-above-m">Запись на бесплатный осмотр</span>
                  <span class="hide-below-s">Записаться на осмотр</span>
                </button>
                <div class="feedback-form__policy">
                    <p>Нажимая кнопку «Подать заявку» вы даёте своё <a href="">согласие на обработку персональных данных</a></p>
                </div>
         </form>

      </div>
   </div>
   <div class="loader"></div>
</div>
<!-- [END] feedback-modal -->