@import '_custom-reset.styl'

rupture.scale =              0       500px       801px      992px       1250px       1600px      1800px
//                         └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘  └────┬────┘  └────┬────
// Slice numbers:               1           2           3           4           5            6            7
rupture.scale-names =      "xs"        "s"         "m"         "l"         "xl"         "xxl"        "hd"



// z-index
$underground = -3
$sea         = 0
$land        = 3
$hill        = 6
$mountain    = 9
$cloud       = 12
$moon        = 15
$sun         = 23



@import '_colors.styl'
@import '_fonts.styl'
.wow
   //visibility hidden   
html
   font-size 3.14vw
   +above(321px)
      font-size: calc( 0.20 * 2vw + 10px );
    +above('s')
      font-size 10px
 

.hide-below-xs
   +below('xs')
      display none !important
.hide-below-s
   +below('s')
      display none !important
.hide-below-m
   +below('m')
      display none !important
.hide-below-l
   +below('l')
      display none !important
.hide-below-xl
   +below('xl')
      display none !important
.hide-below-xxl
   +below('xxl')
      display none !important
.hide-above-xs
   +above('xs')
      display none !important
.hide-above-s
   +above('s')
      display none !important
.hide-above-m
   +above('m')
      display none !important
.hide-above-l
   +above('l')
      display none !important
.hide-above-xl
   +above('xl')
      display none !important
.hide-above-xxl
   +above('xxl')
      display none !important   
.sr-below-xs
   +below('xs')
      @extend .sr-only
.sr-below-s
   +below('s')
      @extend .sr-only
.sr-below-m
   +below('m')
      @extend .sr-only
.sr-below-l
   +below('l')
      @extend .sr-only
.sr-below-xl
   +below('xl')
      @extend .sr-only
.sr-below-xxl
   +below('xxl')
      @extend .sr-only
.sr-above-xs
   +above('xs')
      @extend .sr-only
.sr-above-s
   +above('s')
      @extend .sr-only
.sr-above-m
   +above('m')
      @extend .sr-only
.sr-above-l
   +above('l')
      @extend .sr-only
.sr-above-xl
   +above('xl')
      @extend .sr-only
.sr-above-xxl
   +above('xxl')
      @extend .sr-only
   

/* =WordPress Core
-------------------------------------------------------------- */
.aligncenter
   text-align center
.alignright
   text-align right 
.alignleft
   text-align left

.alignnone {
    margin: .5rem 2rem 2rem 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: .5rem auto .5rem auto;
}

.alignright {
    float:right;
    margin: .5rem 0 2rem 2rem;
}

.alignleft {
    float: left;
    margin: .5rem 2rem 2rem 0;
}

a img.alignright {
    float: right;
    margin: .5rem 0 2rem 2rem;
}

a img.alignnone {
    margin: .5rem 2rem 2rem 0;
}

a img.alignleft {
    float: left;
    margin: .5rem 2rem 2rem 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption.alignnone {
    margin: .5rem 2rem 2rem 0;
}

.wp-caption.alignleft {
    margin: .5rem 2rem 2rem 0;
}

.wp-caption.alignright {
    margin: .5rem 0 2rem 2rem;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}


/* Text meant only for screen readers. */
.screen-reader-text {
   border: 0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute !important;
   width: 1px;
   word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
   background-color: #eee;
   clip: auto !important;
   clip-path: none;
   color: #444;
   display: block;
   font-size: 1em;
   height: auto;
   left: 5px;
   line-height: normal;
   padding: 15px 23px 14px;
   text-decoration: none;
   top: 5px;
   width: auto;
   z-index: 100000;
   /* Above WP toolbar. */
}


// .slider--slides-to-show-1 .slider__list:not(.flickity-enabled) .slider__item:not(:first-child)
//    display none
