.btn-base
   -webkit-appearance: none;
   -moz-appearance: none;
   position relative
   display inline-block
   text-align center
   vertical-align middle
   text-decoration none
   -webkit-tap-highlight-color transparent
   border: none
   padding 0
   line-height 1
   cursor pointer
   background transparent
   transition: color .1s linear, background-color .1s linear, border-color .1s linear, opacity .1s linear
   white-space nowrap
   color inherit
   font-weight normal
   text-transform inherit
   letter-spacing inherit
   border-radius 0
   &::-moz-focus-inner
      border 0
      padding 0
   

.ripple
   position relative
   overflow hidden
   &:after
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: rgba($black, .1);
      opacity: 0;
      border-radius: 100%;
      transform: scale(1, 1) translate(-50%, -50%);
      transform-origin: 50% 50%;
      pointer-events none
      @supports (left: var(--x))
         left: var(--x);
         top: var(--y);
   &--light::after
      background: rgba($white, .1);
   &--yellow::after
      background: rgba(125, 52, 0, 0.1);
    

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

.ripple:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.btn
   @extend .btn-base
   transition .2s
   &--primary
      background-color #09B58C
      background-image: linear-gradient(180deg, #26DCB1 0%, #099977 100%);
      box-shadow: 0px .7rem 3rem rgba(9, 181, 140, 0.3);
      border-radius: 99rem;
      color $white
      min-width 20rem
      padding 1.5em 2em
      font-size 1.2rem
      text-transform uppercase
      letter-spacing .05em
      font-weight bold
      visibility visible
      background-size: 100%;
      &::before
        content ''
        position absolute
        top -.5rem
        right -.5rem
        bottom -.5rem
        left -.5rem
        padding .5rem
        border 1px solid rgba($green, .2)
        border-radius 99rem
        pointer-events none
        transition .2s
      &:hover
        background #09B58C
      &:focus::before
        border-color $blue
   &--therd
      background-color #009FE3
      background: linear-gradient(180deg, #009FE3 0%, #008BC6 100%);
      box-shadow: 0px .7rem 3rem rgba(0, 159, 227, 0.3);
      border-radius: 99rem;
      color $white
      min-width 20rem
      padding 1.5em 2em
      font-size 1.2rem
      text-transform uppercase
      letter-spacing .05em
      font-weight bold
      visibility visible
      background-size: 100%;
      transition none
      &::before
        content ''
        position absolute
        top -.5rem
        right -.5rem
        bottom -.5rem
        left -.5rem
        padding .5rem
        border 1px solid rgba(0, 159, 227, 0.3);
        border-radius 99rem
        pointer-events none
        //transition .2s
      &:hover
        background #008BC6
        color $white
      &:focus::before
        border-color $blue
   &--secondary
      background-color #F2FBF9;
      border-radius: 99rem;
      color $green
      min-width 20rem
      padding 1.5em 2em
      font-size 1.2rem
      text-transform uppercase
      letter-spacing .05em
      font-weight bold
      visibility visible
      background-size: 100%;
      &::before
        content ''
        position absolute
        top -.5rem
        right -.5rem
        bottom -.5rem
        left -.5rem
        padding .5rem
        border 1px solid rgba($green, .2)
        border-radius 99rem
        pointer-events none
        transition .2s
      &:hover
        background #09B58C
      &:hover,
      &:focus,
      &:active
         background-image: linear-gradient(180deg, #26DCB1 0%, #099977 100%);
         box-shadow: 0px .7rem 3rem rgba(9, 181, 140, 0.3);
         color $white
      &:active
         background #09B58C;
      &:focus
         box-shadow none
         &::before
            border-color $blue

         


   