// $black = #0b0b0b
// $white = #fff
// $blue = #22b0cf
// $light-blue = #279ef1
// $dark-blue = #009a90

// $gold = #c4b128
// $diamond = #8dd6e6
// $silver = #a9bfc5

// $gray = #ebebeb
// $light-gray = #cdcdcd

// $green = #1aa44a
// $dark-green = #1d743b

// $red = #ac2328;
// $yellow = #ffd824

// $beige =  #ebd5ad

// $orange = #f6931e

// $primary = $red
// $primary-lighten = lighten($red, 10%) //

// $primary-gradient = $primary linear-gradient(0deg, #bea739, #e2d983);


// .primary
//    color $primary !important
// .primary-lighten
//    color $primary-lighten !important
// .white
//    color $white !important


$white = #fff
$black = #333333; //#1f2731 //#232323
$red = #ef2539
$green = #09B58C
$yellow = #F5DB51
$blue = #009FE3
$dark-blue = #213570;

$light-gray = #1c1c1f
$gray = #B1B1B1
$dark-gray = #8b9fa8

$primary = $red
$primary-lighten = $primary

$color-secondary = $dark-gray

$color-win = $green
$color-lost = $red


$color-active = #00b6f2

$purple = #9453C9;




.win 
   color $color-win
.lost
   color $color-lost
.purple
   color $purple
.white
   color $white !important
.red
   color $red !important
.green
   color #19cb92 !important
.yellow
   color $yellow !important
.gray
   color $gray !important
.black
   color $black !important
.blue
   color $blue !important
.secondary
   color $color-secondary 


.bg-dark-black
   background-color #091829 !important
.bg-black
   background-color #0c1e33 !important
.bg-light-black
   background-color #0a2340 !important
.bg-yellow
   background-color #fffdf5 !important
   
.primary
   color $yellow !important
   
.bg-gold
   background-color #FFA324 !important

   