label
   display inline-block
   vertical-align middle

input-base =
   width 100%
   font-family: inherit;
   background transparent
   -webkit-appearance: none;
   -moz-appearance: none; 
   vertical-align: middle
   font-family inherit
   border none
   border-radius 0
   line-height 1
   transition .2s
   color #292832
   letter-spacing 0
   &::placeholder
      transition .2s
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none; 
  margin: 0; 

.input-base
   {input-base}
   


@keyframes shake {
    8%, 41% {
        transform: translateX(-1rem);
    }
    25%, 58% {
        transform: translateX(1rem);
    }
    75% {
        transform: translateX(-.5rem);
    }
    92% {
        transform: translateX(.5rem);
    }
    0%, 100% {
        transform: translateX(0);
    }
}

.field-wrapper
   width 100%
   text-align left
   margin-bottom 1.3rem
   &__title
      font-size 1.4rem
      margin-bottom .4em
   &__wrapper
      position relative
      &::before
         content ''
         position absolute
         top -.3rem
         left -.3rem
         right -.3rem
         bottom -.3rem
         border-radius .5rem
         border 1px solid rgba($blue, .5)
         opacity 0
      &:focus-within::before
         opacity 1
   &__clear
      position absolute
      top 1rem
      right .75rem
      visibility hidden
      opacity 0
      transition .2s
      svg
         height 3rem 
         width 3rem
         fill #C2C2C2;
   .has-value ~ &__clear
      opacity 1
      visibility visible
   
    

.field-input
   @extend .input-base
   height 5rem
   border-radius: 5px;
   padding 0 1em
   border 1px solid transparent
   background-color #F0F0F0
   &.valid
      border-color $green !important
   &.invalid,
   &.error
      border-color $red !important
   &:hover,
   &:focus
      border-color $blue;
      
.field-textarea
   @extend .input-base
   border-radius: 5px;
   padding 1em 1em
   border 1px solid transparent
   background-color #F0F0F0
   line-height 1.4
   min-height 15rem
   &::placeholder
      line-height 1.4
   &.valid
      border-color $green !important
   &.invalid,
   &.error
      border-color $red !important
   &:hover,
   &:focus
      border-color $blue;
   



  
.checkbox
   cursor pointer
   &__input
      @extend .sr-only
   &__content
      position relative
      text-align left
      font-size 1.2rem
      padding-left 2.2rem
      +above('s')
        padding-left 3rem
      &::before
         content ''
         position absolute
         left 0
         background-color: rgba(227, 229, 233, 0.388);
         background-color #fff
         //box-shadow: inset 0px 1px 4px 0px rgba(56, 88, 78, 0.21);
         top 50%
         transform translateY(-50%)
         height 1.5rem
         width 1.5rem
         +above('s')
            top 0rem
            width 2rem
            height 2rem
            transform none
         border-radius .5rem
         border 1px solid #DEDEDE
      // &::after
      //    content ''
      //    position absolute
      //    top .6rem
      //    left .5rem
      //    width 1rem
      //    height 1rem
      //    background-color $primary
      //    border-radius .2rem
      //    opacity 0
      //    visibility hidden
   .invalid ~ &__content
      &::before
         border-color $primary
   :checked ~ &__content
      font-weight //600
      &::before
         border-color $primary
         //background-image resolve('checked.svg')
         background-color #fff !important
         background-size 2rem
         +above('s')
            background-size 1.2rem
         background-position center
      // &::after
      //    opacity 1
      //    visibility visible
      //background-color $primary
   &__input.disabled ~ &__content
      opacity .5
      


.icon-arrow-down
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.707107L0.707107 0L4.35355 3.64645L8 0L8.70711 0.707107L4.35355 5.06066L0 0.707107Z' fill='%23009FE3'/%3E%3C/svg%3E%0A");
  background-size .9rem .45rem
  background-repeat no-repeat
  
.field-select
  @extend .icon-arrow-down
  padding .7em 1.5em
  width 100%
  border 1px solid #BCE3F3
  border-radius 99rem
  font-size 1.4rem
  color #009FE3
  background-position center right 2rem