.modal
   position fixed
   top 0
   left 0
   right 0
   bottom 0
   -webkit-overflow-scrolling touch
   z-index 12
   height 100%
   width 100%
   overflow-y auto
   text-align: center
   white-space nowrap
   font-size 0
   visibility hidden
   opacity 0
   transition .2s
   background-color rgba(#1e1c27, .92)
   pointer-events none
   &.active
      visibility visible
      opacity 1
      pointer-events all
   &::before
      content ''
      width 0
      height 100vh
      display inline-block
      vertical-align middle
   &__container
      width 100%
      text-align center
      position relative
      display inline-block
      vertical-align middle
      white-space normal
      font-size $primary-font-size
      z-index 2
      //overflow hidden
      transition .2s
      position relative
      z-index 2
      animation-duration: .5s;
      animation-timing-function: cubic-bezier(0, 1.07, 0.48, 1.2)
      background: linear-gradient(180deg, #3A529A 0%, #182D68 118.62%);
   .video-wrapper
      background-color $black




//////////////////////////////////////////////////////////////////
.lg-sub-html, 
.lg-toolbar
   background-color transparent
.lg-actions .lg-next, .lg-actions .lg-prev
   background-color transparent
body.lg-on {
    overflow: hidden;
}
.lg-backdrop
   background-color rgba(#1e1c27, .92)
.lg-outer .lg-img-wrap
   padding 7rem 0
   
/////////////


.feedback-modal
   &__close
      position fixed
      top 0
      right 0
      padding 1rem
      svg
         height 3rem
         width 3rem
         fill #63719B;
   &__content
      color $white
      min-height 100vh
      

.feedback-modal
   &__content
      padding 2rem 1.5rem
      text-align left
      
.modal-feedback-form
   &__title
      font-weight bold
      font-size 2.1rem
      font-family $font-secondary
      margin-bottom .3em
   &__desc
      margin-bottom 2rem
      color #99A5C8;
      line-height 1.2
   .btn
      width 100%
      margin-top 1.5em
      margin-bottom 1.2em
   &__policy
      font-size 1.2rem
      color #63719B;
      +above('s')
         color $black
      p
         line-height 1.2
   .field-wrapper
      &__title
         color $white
      input
         background-color rgba($white, .2)
         color $white
         
.modal-feedback-form
   max-width 35rem
   margin-left auto
   margin-right auto