// // Text reset 

dotted-link($color = $black, $hover-opacity = .8, $line-opacity = .3)
   display inline-block
   span,
   h2,
   h3
      display inline
      color $color
      transition .15s
      // background-image: -webkit-repeating-radial-gradient(center center,rgba($color,$line-opacity),rgba($color,$line-opacity) 1px,transparent 0,transparent 100%);
      // background-image: repeating-radial-gradient(center center,rgba($color,$line-opacity),rgba($color,$line-opacity) 1px,transparent 0,transparent 100%);
      background-image: linear-gradient(90deg, rgba($color, $line-opacity), rgba($color, $line-opacity) 75%, transparent 75%, transparent 100%);
      background-size: .8rem 1.5px;
      background-repeat: repeat-x;
      background-position: bottom -.05em center;
      padding-bottom .05em
   &:hover span,
   &:hover h2,
   &:hover h3
      opacity $hover-opacity
      color $blue
      //background-position: bottom -.25em center;
link($color = $white, $hover-opacity = .8, $line-opacity = .3, $width = 1px)
   display inline-block
   span,
   h2,
   h3
      display inline
      color $color
      // transition .15s
      // background-image: linear-gradient(0deg,rgba($color,$line-opacity) $width,transparent 0);
      // background-position: bottom 0rem center;
      box-shadow inset 0 -1px 0 0 rgba($color,$line-opacity)
      transition .1s
   &:hover span,
   &:hover h2,
   &:hover h3,
   &:focus span,
   &:focus h2,
   &:focus h3
      color #4BC9FF;
      box-shadow inset 0 -1px 0 0 rgba(#4BC9FF,$line-opacity)
   &:active span,
   &:active h2,
   &:active h3
      color #F25F5F;
      box-shadow inset 0 -1px 0 0 rgba(#F25F5F,$line-opacity)
   &:visited span,
   &:visited h2,
   &:visited h3
      //color #DDB1EC;
      //box-shadow inset 0 -1px 0 0 rgba(#DDB1EC,$line-opacity)
      //opacity $hover-opacity
      //box-shadow inset 0 -1px 0 0 rgba($color,0)
      //background-position: bottom -.25em center;

.text-center
   text-align center !important
.text-left
   text-align left !important
.text-right
   text-align right !important
 

p
   a[href^="tel:"]
      font-weight bold
      white-space nowrap
   a:not([href^="tel:"])
      display inline
      color $blue
      transition .15s
      background-image: linear-gradient(0deg,rgba($blue,.2) 1px,transparent 0);
      background-position: bottom 0rem center;
      &:hover,
      [data-whatinput="keyboard"] &:focus
         opacity .8
         color $blue
         //box-shadow 0 1px 0 rgba($color, 0)
         background-position: bottom -.25em center;


.dotted-link
   dotted-link($blue)

p,
h1,
h2,
h3,
h4,
h5,
h6
   margin 0
p
   font-size: inherit;
   word-break: break-word;
   line-height (23 / 16)
   font-size inherit
   text-rendering: optimizeLegibility;
   letter-spacing 0
   & + p
      margin-top .7em
h1,
h2,
h3,
h4,
h5,
h6
   font-weight: inherit;
   font-style: normal;
   color: inherit;
   text-rendering: optimizeLegibility;
   font-size inherit
   line-height: 1.2;
   

.font-light
   font-weight 300

// b
//    font-weight bold
 
// .font-semibold
//    font-weight 600 !important

a
   color inherit
   text-decoration: none;
   line-height: inherit;
   transition: color .1s linear, background-color .1s linear, border-color .1s linear, opacity .1s linear, box-shadow .1s linear
   &:hover
      text-decoration none
      color inherit
   & img
      border: 0;
  

.link
   //white-space nowrap
   link($blue)
         

b
   font-weight bold

.formatted-text,
.formated-text
   text-align left
   font-size 1.4rem
   +above('s')
      font-size 1.6rem
   color $black
   figure
      margin-bottom 2rem
      margin-top 2rem
      font-size 1.4rem
      text-align right
      figcaption
         font-style italic
         font-size 1.2rem
         +above('s')
            font-size 1.4rem
         margin-top 1rem
   table
      width 100%
      th,
      td
         padding 1.5rem 2rem 3rem
         line-height 2.1rem
         &:first-child
            padding-left 0
         &:last-child
            padding-right 0
      th
         color #B1B1B1
         padding-bottom 2rem
      tbody
         tr
            td
               border-top 1px solid #E0E0E0;
   img
      width 100%
      border-radius 1rem
   img,
   img:last-child
      max-width: none;
   h2
      margin-bottom .5em
      font-weight 600
      line-height: 1.2;
      font-size 2rem
      font-family $font-secondary
      +above('l')
         line-height: 1.5;
         font-size 2.7rem
   h3,
   h4,
   h5,
   h6
      //color #288ca0
      margin-bottom .7em
      font-weight 600
      font-size 1.8rem
      line-height: 1.2;
      font-family $font-secondary
      +above('l')
         line-height: 1.5;
         font-size 1.8rem
   
   p
      margin-bottom .5em
   * + h1, 
   * + h2, 
   * + h3, 
   * + h4, 
   * + h5, 
   * + h6
      margin-top 1em
   a
      font-weight normal
      transition .2s
      color #009FE3
      border-bottom 1px solid rgba(#009FE3, .2)
      &:hover
         color @color
         border-bottom-color transparent
         
   small
      font-size 1.2rem
   
   hr
      margin 3rem 0
      //max-width 50%
      border none
      border-bottom 1px solid rgba($black)
   ul
      //@extend .ul
      margin-left 0
      font-size inherit
      margin-bottom 1.5em
      margin-left 1.5rem
      +above('xl')
         margin-left -1.5rem
      li
         margin-left 0 !important
         line-height: 1.5;
         margin-bottom 1rem
         +above('s')
            padding-left 1.5rem
         position relative
         &::before
            content ''
            position absolute
            top .5em
            left -1.5rem
            +above('s')
               left 0
            height 5px
            width 5px
            background-color $gray
            border-radius 50%
   ol
      counter-reset: content-list;
      list-style none
      margin-left 1.8rem
      +above('xl')
         margin-left -1.8rem

      li
         position relative
         +above('s')
            padding-left 1.8rem
         margin-bottom .5em
         &::before
            counter-increment: content-list;      
            content counter(content-list) "."
            position absolute
            width 2.5em
            text-align right
            padding-right 1.1em
            color #B1B1B1;
            //color #cbd5f0
            top 0em
            left -2.7rem
            +above('s')
               top 0
               left -1rem
            +above('m')
               top -.00em
            transition .2s
   
         
   .wp-caption
      margin 1.5rem auto 2rem
      +above('l')
         margin 2.5rem auto
   .wp-caption-text
      +below('m')
         display none
      text-align right
      font-size 1.2rem
      margin-top .5em
      
   
            

   // blockquote
   //    //background-color #eaf1f5
   //    margin-bottom 2em
   //    padding 0 2em
   //    font-weight 500
   //    font-style italic
   //    border-left 2px solid  #b8a1cf
   //    p
   //       color $black
         


.wp-caption
   max-width 100%

