@import 'components/_base.styl'

::selection 
   background: $yellow
   color $white

$primary-font-size = 1.4rem;
body
   color $black
   background-color #F9F9F9;
   font-size 1.4rem
   +above('s')
      font-size $primary-font-size
   font-family $font-primary
   line-height 1.5
   position relative
   letter-spacing 0
   background-color #ECF4F7
*
   letter-spacing inherit

.main-wrapper
   margin-left auto
   margin-right auto
   min-height 100vh
   width 100%
   display flex
   flex-direction column
   align-items stretch
   justify-content space-between
   background-color #F9F9F9
   max-width 128rem
   .home &
      max-width none
      background-color #fff
   +below('xs')
      max-width 100vw
      overflow hidden

.container
   width 100%
   margin-left 0
   padding-left 1.2rem
   padding-right 1.2rem
   max-width 98rem
   .home &
      max-width 128rem
      margin-left auto
      margin-right auto
   +above('xl')
      padding-left 5rem
      padding-right 5rem

   

[data-cursor-target]
   transition .2s
   
.wow
   visibility hidden

@keyframes fadeIn
   from
      opacity: 0;
   to
      opacity: 1;
.fadeIn
   animation-name: fadeIn;
   
@keyframes fadeInUp
   from
      opacity: 0;
      transform: translate3d(0, 100%, 0);
   to
      opacity: 1;
      transform: translate3d(0, 0, 0);
      
.fadeInUp
   animation-name: fadeInUp;
   
@keyframes scaleIn
   from
      //opacity 0
      transform: scale(.7) translateZ(0);
   to
      //opacity: 1;
      transform: scale(1) translateZ(0);
      
.scaleIn
   animation-name: scaleIn !important;
   
.animated
   animation-duration: .8s;
   animation-fill-mode: both;
   animation-timing-function: cubic-bezier(0, 1.07, 0.48, 1.11)
   visibility visible !important


@keyframes labelIn
   from
      opacity 0
      transform: scale(.7) rotate(20deg);
   to
      opacity: 1;
      transform: scale(1) rotate(0deg);
      
.labelIn
   animation-name: labelIn;
   transform-origin left bottom
   animation-duration: .6s;
   animation-timing-function: cubic-bezier(0, 1.07, 0.48, 2.2)



//@import '../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css'
//@import '../../bower_components/onepage-scroll/onepage-scroll.css'
//@import '../../bower_components/nouislider/distribute/nouislider.min.css'
//@import '../../bower_components/jquery-bar-rating/dist/themes/css-stars.css'
//@import '../../node_modules/animate.css/animate.min.css'
@import '../../node_modules/slick-carousel/slick/slick.css'
//@import '../../node_modules/fotorama/fotorama.css'
//@import '../../bower_components/cocoen/dist/css/cocoen.min.css'

//@import '../../node_modules/filepond/dist/filepond.min.css'
//@import '../../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css'
//@import '../../bower_components/tether-select/dist/css/select-theme-default.css'
@import '../../node_modules/lightgallery.js/dist/css/lightgallery.min.css'
//@import '../../node_modules/flickity/dist/flickity.min.css'
//@import '../../node_modules/tiny-slider/dist/tiny-slider.css';
//@import '../../node_modules/vue-flatpickr-component/node_modules/flatpickr/src/style/flatpickr.styl'
//@import '../../node_modules/vue-multiselect/dist/vue-multiselect.min.css'
//@import '../../node_modules/selectize/dist/css/selectize.css'
//@import '../../node_modules/tooltipster/dist/css/tooltipster.bundle.min.css'
//@import '../../bower_components/fullpage.js/dist/jquery.fullpage.css'

//@import '../../bower_components/nouislider/distribute/nouislider.min.css'
//@import '../../bower_components/perfect-scrollbar/css/perfect-scrollbar.css'

//@import 'parts/magiczoomplus.css'

//@import '../../node_modules/vue-airbnb-style-datepicker/dist/styles.css'
//@import '../../node_modules/vue2-autocomplete-js/dist/style/vue2-autocomplete.css'

//@import '../../node_modules/mediaelement/build/mediaelementplayer.css'


//@import 'components/_toolstiper.styl'
@import 'parts/_before-after.styl'
@import 'components/_loader.styl'
@import 'components/_typography.styl'
@import 'components/_buttons.styl'
@import 'components/_inputs.styl'
@import 'components/_modals.styl'
@import 'components/tingle.css'
@import 'parts/_header.styl'
@import 'parts/_footer.styl'
@import 'parts/_home.styl'
@import 'parts/_sidebar.styl'

.tingle-modal
   background-color rgba(51, 51, 51, 0.7);
   padding-top 0 !important
.tingle-modal-box
   max-width 36rem
   &__content
      padding 5rem 2rem
      +above('s')
         padding 5rem 5rem

.feedback-modal
   //position relative
.feedback-modal__close
   position fixed
   background-image resolve('icon-close-black.svg')
   top 1rem
   right 1rem
   +above('s')
      top 0
      right 0
      position absolute
      top -.5rem
      right -3.5rem
      background-image resolve('icon-close.svg')
   font-size 0
   height 3rem
   width 3rem
   background-size cover
   background-position center
   
.feedback-modal
   &__title
      font-family $font-secondary
      font-weight 600
      font-size 3.5rem
      margin-bottom .1em
   &__desc
      color #B1B1B1
      font-size 1.6rem
      margin-bottom 1em
   .btn
      width 100%
      margin-top 2rem
      margin-bottom 1.5rem
   &__footer
      font-size 1.2rem
      color #B1B1B1
      



.switcher
   &__title
      font-size 1.4rem
      margin-bottom .4em
   &__items
      display flex
      flex-wrap wrap
      background-color #F0F0F0
      border-radius 1rem
      
.switcher-label
   width 50%
   text-align center
   display block
   &__content
      cursor pointer
      padding 1em
      display flex
      align-items center
      justify-content center
      transition .2s
      border-radius 1rem
      border 1px solid transparent
   :checked ~ &__content
      border-color #09B58C
      color #09B58C
      pointer-events none

.contacts-map
   margin-top 3rem

.mark
   position relative
   display inline-block
   &::before
      content ''
      position absolute
      top 0
      left -.1em
      right -.3em
      bottom 0
      background-color #fbd342
      transform skew(-10deg)
   span
      position relative
      display inline-block
      z-index 2



.content-wrapper
   padding-top 1.8rem
   +above('m')
      padding-top 0
      display flex
      align-items stretch
   &__sidebar
      background-color #fff
      border-right: 1px solid #ECF4F7;
   &__content
      width 100%
   &__sidebar + &__content
      padding 3rem 0 0
      +above('m')
         width calc(100% - 26rem )
      +above('xl')
         width calc(100% - 30rem )
         padding 6.2rem 0 0
      

.breadcrumbs
   margin-bottom .8rem
   padding 1em 0
   &__list
      display flex
      flex-wrap wrap
      margin 0 -1em
   a
      display block
      padding 0 .9em
   li:not(.current) a
      link(#009FE3)
   li:not(:last-child)
      position relative
      &::before
         content ''
         position absolute
         top calc(50% + 0rem)
         right -.3rem
         width .6rem
         height .8rem
         background-image resolve('breadcrumbs-sep.svg')
         transform translateY(-50%)
   li.current a
      color $gray



.page-title
   font-weight 600
   font-size 2.3rem
   margin-bottom .45em
   +above('s')
      font-size 3.5rem
      margin-bottom .3em
   font-family $font-secondary
   letter-spacing 0
   
.section-title
   font-size 1.95rem
   margin-bottom .6em
   +above('s')
      font-size 2.7rem
      margin-bottom 1em
   font-weight 600
   font-family $font-secondary
   

   
.section-subtitle
   font-size 1.6rem
   margin-top 1.2em
   +above('s')
      font-size 1.8rem
      margin-top 2em
   font-weight 600
   font-family $font-secondary
   margin-bottom .7em
   

   
.company-info
   font-size 1.4rem
   margin-bottom 2.3rem
   +above('s')
      margin-bottom 4.5rem
      font-size 1.6rem
   span
      color $gray
      


.services
   padding 3.5rem 0 2.2rem
   +above('s')
      padding 6.5rem 0 8rem
      //margin-bottom 5rem
   background-color #FFFFFF
   &__list
      display flex
      flex-wrap wrap
      margin 0 -.5rem
      +above('s')
         display flex
         flex-wrap wrap
         margin 0 -2rem
   &__item
      width 50%
      padding .5rem
      +above('s')
         width 25%
         padding 1rem
      text-align center
      +below('xs')
         &:nth-child(n+7):not(:last-child)
            display none
         &:last-child
            width 100%
            
   &__link
      border-radius 1rem
      background-color #F9F9F9;
      padding-bottom 95%
      position relative
      link($black, 1, .1)
      display block
      font-family $font-secondary
      font-weight 600
      +above('s')
         font-size 1.6rem
      +above('xl')
         font-size 1.8rem
   &__inner
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      display flex
      flex-direction column
      justify-content center
      align-items center
      span
         line-height 1.2
      i
         display block
         height 4.5rem
         img
            max-height 100%
         +above('s')
            height 5.5rem

.services-more
   link($blue)
   display flex
   align-items center
   align-self stretch
   //padding-bottom 75%
   height 100%
   position relative
   width 100%
   padding 3.2rem 0
   +above('s')
      padding 0
   &__link
      position absolute
      top 50%
      left 0
      transform translate(0, -50%)
      +above('s')
         transform translate(-50%, -50%)
         left 50%
      white-space nowrap
      
   
   
.small-doctors
   padding-top 4rem
   +above('s')
      padding-top 8rem
      padding-bottom 3rem
   &__list
      margin-top 1.6rem
      +above('s')
         display flex
         flex-wrap wrap
         margin 0 -1rem
   &__item
      margin-bottom 1rem
      position relative
      background-color #fff
      padding 2.7rem 1rem 4.5rem 11rem
      +below('xs')
         &:nth-child(n + 4)
            display none
      +above('s')
         width 33.33%
         padding 1rem
         background-color transparent
      +above('xl')
         width 25%
   &__photo-wrapper
      position absolute
      top 3rem
      left 1.9rem
      +above('s')
         position static
         top 1.5rem
         left 1.5rem
      height 8rem
      width 8rem
      
      +above('s')
         width auto
         height auto
         margin-bottom 1.5rem
      img
         width 100%
         border-radius 5px
         +above('s')
            border-radius 0
   &__title
      font-family $font-secondary
      font-weight 600
      margin-bottom .5em
      font-size 1.6rem
      +above('s')
         font-size 1.8rem
   &__chars
      font-weight 600
      span
         color $gray
         font-weight 400
   &__footer
      text-align left
      +above('s')
         text-align center
      padding 2rem 0 2rem
      


.reviews
   padding-top 2rem
   +above('s')
      padding-top 4.7rem
.reviews-tablist
   display flex
   position relative
   margin-top 2.2rem
   +above('s')
      margin-top 0
   &__tab
      background-color #fff
      padding 1em 3rem
      +above('s')
         padding .8em 5rem
      display block
      border-radius 0 1rem 0 0
   &__item:first-child
      z-index 2
   &__item + &__item
      margin-left -1rem
      z-index 1
   &__item.ui-tabs-active &__tab
      color $black
      font-weight 500
   &__item:not(.ui-tabs-active) &__tab
      background-color #ECF4F7;
      dotted-link($blue)
   &__panel
      background-color #fff
      padding 1.5rem 0 5rem
      +above('s')
         padding 5rem 0 9.5rem
      &:not(.active)
         display none
   
.reviews-videos
   text-align left
   position relative
   .video-slider__arrows
      transform none
      top 8rem
   +above('s')
      text-align center
   &__list
      display flex
      flex-wrap wrap
      margin 0 -.75rem 1rem
      +above('s')
         margin 0 -.75rem
   &__item
      width 100%
      margin-bottom 0rem
      +below('xs')
         &:nth-child(n+4)
            display none
      +above('s')
         width 50%
         margin-bottom 1rem
      text-align left
      padding .75rem
   &__link
      display block
   &__photo-wrapper
      margin-bottom .5rem
      +above('s')
         margin-bottom 1rem
      border-radius: 1rem;
      overflow hidden
      position relative
      img
         max-width 100%
      &::before
         content ''
         position absolute
         top 50%
         left 50%
         transform translate(-50%,-50%)
         z-index 2
         width 5rem
         height 3.5rem
         background-image resolve('youtube.png')
   &__title
      font-weight 600
      font-size 1.6rem
      font-family $font-secondary
      line-height normal
      +above('s')
         font-size 1.8rem
   &__link
      display block
      


      


.guestbook
   &__item
      margin-bottom 2rem
      padding-bottom 2rem
      border-bottom: 1px solid #ECF4F7;
   &__title
      font-weight 600
      font-family $font-secondary
      font-size 1.8rem
      margin-bottom .3em


.guestbook-file
   margin-top 2rem
   dotted-link($blue)
   padding-left 4rem
   position relative
   &__icon
      position absolute
      top .4rem
      left 0
      height 3.5rem
      width 3.5rem
      background-size contain
   &__name
      color $gray
      font-size 1.2rem
   &__size
      display inline-block
      vertical-align middle
      color $gray
   





.feedback-section
   position relative

   &__bg
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-size cover
      background-color #213570
      z-index 1
      bottom 22rem 
      +above('s')
         bottom 0 
         background-size cover
         background-color #fff
   &__container
      z-index 2
      position relative
   &__content
      padding 3rem 0 0rem 0rem
      +above('s')
         padding 6rem 0 6rem 1.5rem
         display flex 
      +above('xl')
         padding 8.3rem 0 8.5rem 1.5rem
   &__title
      font-family: $font-secondary;
      font-weight: 600;
      font-size: 2.1rem;
      margin-bottom .7em
      +above('s')
         font-size: 3rem;
         margin-top .5rem
         margin-bottom .85em
      +above('xl')
         font-size: 3.5rem;
      color: #213570;
      line-height 1.2
   &__subtitle
      font-family: $font-secondary;
      font-weight: 600;
      font-size: 1.6rem;
      margin-bottom .4em
      +above('s')
         font-size: 2.7rem;
         margin-bottom .5em
   &__desc
      color: rgba(105, 104, 105, 0.7);
      max-width 20rem
      padding-left 2.5rem
      +above('s') 
         font-size 1.6rem
         color #333333;
      +below('xs')
         line-height 1.2   
      li
         margin-bottom 1em
         position relative
         &::before
            content ''
            position absolute
            top .7rem
            +above('s')
               top 1rem
            left -2.2rem
            height 1px
            width 1.3rem
            background-color #fff
   &__left
      +above('s')
         padding-right 2rem
         

.feedback-form
   padding 3rem 1rem 5rem
   margin 0 -1.2rem
   margin-top 3.5rem
   background: linear-gradient(180deg, rgba(58, 82, 154, 0) 0%, rgba(58, 82, 154, 0.5) 16.38%, #213570 46.62%);
   +above('s')
      margin 0
      margin-top 0
      background #fff
      width 36rem
      padding 5rem 5rem 8rem
      border-radius 1rem
   //margin-top 5rem
   +above('xl')
      //margin-top 0
   +below('s')
      .field-wrapper
         &__title
            color $white
         input
            background-color #919EC4;
            color $white
   &__title
      font-size 2.7rem
      font-family $font-secondary
      font-weight 600
      margin-bottom .8em
      line-height 1.1
   &__desc
      margin-bottom 1.4em
      font-size 1.6rem
      color #B1B1B1;
      line-height normal
   .btn
      width 100%
      margin-top 1.5em
      margin-bottom 1.2em
   &__policy
      font-size 1.2rem
      color #63719B;
      
      p
         line-height 1.2

///////////////////////////////////////////////////


.contacts
   padding 4.2rem 0
   +above('s')
      padding 8rem 0 8rem
   background-color #fff
   p
      font-size 1.4rem
      +above('s')
         font-size 1.6rem
   .section-title
      margin-bottom 1em
      +above('s')
         margin-bottom 1.3em
   .section-subtitle
      margin-bottom 1em
      +above('s')
         margin-bottom .9em
   .addresses
      margin-bottom 1rem
      +above('s')
         margin-bottom -.5rem
      margin-top -1rem
   

////////////////////

.big-slider
   padding-bottom 4rem
   +above('s')
      padding-bottom 8rem
   &__content
      position relative
   &__arrows
      position absolute
      top 50%
      left 0
      right 0
      z-index 4
      transform translateY(-50%)
      pointer-events none
      display flex
      justify-content space-between
   &__arrow
      padding 1rem
      +above('s')
         padding 2rem
      pointer-events all
      svg
         width 1.2rem
         height 1.4rem
         fill $white
   .slick-track
      //width 100%
   &__item
      width 100%
      img
         width 100%
         border-radius: 1rem;


.big-slider-small-list
   margin-left -.5rem
   margin-top .5rem
   +above('s')
      margin-top 1.5rem
   &__item
      width 5rem
      maring .25rem
      border 2px solid transparent
      border-radius: .8rem;
      &.slick-active
         border-color $blue
      +above('s')
         width 12rem
         maring .25rem
      img
         max-width 100%
         border-radius: .5rem;
         

//////////////////////////////////////

.licences
   padding-bottom 4rem
   padding-top 5rem
   +above('s')
      padding-top 8rem
      padding-bottom 8.5rem
   &__list
      display flex
      flex-wrap wrap
   &__item
      width 50%
      +above('s')
         width 25%
      padding 1rem
      a
         display block
         width 100%
         img
            width 100%
   &__footer
      padding-top 2.5rem
      text-align left
      +above('s')
         text-align center
         padding-top 4rem


////////////////////////////////////////////

.specials
   padding-bottom 4rem
   +above('s')
      padding-bottom 7rem
   &__footer
      margin-top 1.5rem
   &__list
      margin 0 -.5rem
      +above('s')
         display flex
      +above('xl')
         margin 0 -1rem
   &__item
      padding 1rem .5rem
      display flex
      align-items stretch
      +above('s')
         width 33.33%
      +above('xl')
         padding 1rem
   &__header
      +above('s')
         padding-right 10rem
      position relative
      margin-top 2.8rem
      margin-bottom 1rem
      .link
         position absolute
         top .8rem
         right 0
         svg
            height 1.8rem
            width 1.8rem
            fill $blue
            display inline-block
            vertical-align middle
            margin-left .3rem
   
.special
   border-radius 1rem 1rem 0 0
   background-color #fff
   padding-bottom 13rem
   position relative
   text-align left
   &__header
      border-radius 1rem 1rem 0 0
      height 16rem
      overflow hidden
      position relative
      overflow hidden
      img
         width 100%
         position absolute
         top 0
         left 0
         height 100%
         object-fit cover
         object-position center
   &__label
      position absolute
      top 0
      left 0
      background-color #F25F5F;
      color $white
      border-radius 0 0 1rem 0
      padding .5em 1em
      z-index 2
   &__title
      link($black)
      font-size 1.8rem
      font-weight 600
      font-family $font-secondary
      margin-bottom .45em
   &__desc
      margin-bottom 1.8rem
      li
         margin-bottom .3em
   &__prices
      font-weight 600
      font-family $font-secondary
      font-size 2.1rem
      +above('s')
         font-size 2rem
      +above('xl')
         font-size 2.1rem
      display flex
      align-items center
      position absolute
      bottom 8rem
      left 2.5rem
      right 1.5rem
      margin-bottom .8em
      del
         font-weight 400
         color $gray
         font-size (1.8em / 2.7em)
         margin-left .5em
   &__body
      padding 2rem 2.5rem 0
      .btn
         width calc(100% - 2.5rem - 2.5rem)
         position absolute
         bottom 3rem
         left 2.5rem
         right 2.5rem
         


/////////////////

.prices
   padding 5rem 0rem
   +above('s')
      padding 7rem 0rem
   background-color #fff
   &__list
      margin-top 3.5rem
      margin-bottom 3rem
      & + .download-file
         +below('xs')
            margin-top 0
   &__item
      padding .1rem 0
   &__tab
      width 100%
      white-space normal
      text-align left
      background-color #ECF4F7;
      padding .9em 1.3em .5em
      border-radius .5rem
      font-size 1.8rem
      font-family $font-secondary
      font-weight 600
      &.ui-state-active
         border-radius .5rem .5rem 0 0
         svg
            transform scale(-1)
      span
         white-space nowrap
         display inline-block
         overflow hidden
         max-width calc(100% - 2.5rem)
         text-overflow ellipsis
      svg
         height .5rem
         width .9rem
         display inline-block
         vertical-align middle
         fill $blue
         margin-left .5rem
         margin-top -.5rem
         transition .2s
   &__panel
      padding 3.5rem 2.5rem 6rem
      border 1px solid #ECF4F7 
      background-color #fff
      
.price-subtitle
   font-weight 600
   font-family $font-secondary
   margin-bottom .8em
   
.prices-table
   color #696869;
   width 100%
   
   &:not(:last-child)
      margin-bottom 3rem
   +below('xs')
      margin 0 -2.5rem 3rem
      width calc(100% + 2.5rem * 2)
   td
      vertical-align top
      padding-bottom 1.2rem
      padding-top 1.2rem
      border-bottom 1px solid #ECF4F7
      +above('s')
         border-bottom none
         background-image: linear-gradient(0deg, #ECF4F7 1px,transparent 0);
         background-size: .8rem 1px;
         background-repeat: repeat-x;
         background-position: bottom 1em center;
         vertical-align bottom
   tr:last-child td
      border-bottom none
   td:first-child
      +below('xs')
         padding-left 2.5rem
      +above('s')
         padding .5rem .5rem .5rem 0
      & > span
         background-color #fff
         padding-right 1rem
   td:last-child
      font-weight 600
      color $black
      +below('xs')
         padding-right 2.5rem
      +above('s')
         white-space nowrap
         padding-left 2rem
      text-align right
      padding-bottom .4rem
      & > span
         padding-left 1rem
         background-color #fff
      .cur
         color $gray
         font-weight 400
      del
         color $gray
         font-weight 400
         padding-right .5rem
         white-space nowrap
      ins
         color $red
         white-space nowrap
         

.prices-close-tab
   max-width 100%
   text-overflow ellipsis
   overflow hidden
   white-space nowrap
   padding-bottom .2em

.download-file
   margin-top 2rem
   link($blue)
   padding-left 4rem
   position relative
   line-height 1.2
   padding-top .4rem
   min-height 3em
   &__icon
      position absolute
      top .4rem
      left 0
      height 3.5rem
      width 3.5rem
      background-size contain
   &__title
      display inline
   &__size
      display inline-block
      vertical-align middle
      color $gray
      margin-left .4em
      align-self flex-end
      margin-bottom .5rem



@import 'parts/_service.styl'
@import 'parts/_doctors.styl'
@import 'parts/_sales.styl'
@import 'parts/_contacts.styl'
@import 'parts/_posts.styl'
@import 'parts/_404.styl'

.table-wrapper
   overflow auto