  <!-- [BEGIN] feedback-section -->
                <div class="feedback-section" >
                  <div class="feedback-section__bg" style="background-image: url('/img/feedback-section-bg.jpg');"></div>
                   <div class="container feedback-section__container">
                      <div class="feedback-section__content">
                          
                            <div class="feedback-section__left">
                                <div class="feedback-section__title">
                                    Запись на <span class="mark"><span>бесплатный</span></span> осмотр в «Доктор Смайл»
                                </div>
                                <div class="feedback-section__subtitle">Приём включает:</div>
                                <ul class="feedback-section__desc">
                                    <li>Профессиональный медицинский осмотр</li>
                                    <li>Консультацию<br> врача-специалиста</li>
                                    <li>Составление плана лечения</li>
                                </ul>
                            </div>
                            <div class="feedback-section__right">
                                <form class="feedback-form">
                                  <div class="feedback-form__title hide-below-s">
                                      Подайте заявку на<br>
                                      первичный осмотр
                                  </div>
                                  <div class="feedback-form__desc hide-below-s">
                                      Мы свяжемся с вами и обсудим<br>
                                      удобное время приёма
                                  </div>
                                  <label class="field-wrapper">
                                     <div class="field-wrapper__title">Ваше имя</div>
                                     <div class="field-wrapper__wrapper">
                                          <input type="text" name="" class="field-input">
                                          <button type="button" class="btn-base field-wrapper__clear">
                                                <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-cancel"></use></svg>
                                          </button>
                                      </div>
                                  </label>
                                  <label class="field-wrapper">
                                     <div class="field-wrapper__title">Номер контактного телефона</div>
                                     <div class="field-wrapper__wrapper">
                                          <input type="text" name="" class="field-input">
                                          <button type="button" class="btn-base field-wrapper__clear">
                                                <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-cancel"></use></svg>
                                          </button>
                                     </div>
                                  </label>
                                  <button class="btn btn--primary">
                                    <span class="hide-above-m">Запись на бесплатный осмотр</span>
                                    <span class="hide-below-s">Записаться на осмотр</span>
                                  </button>
                                  <div class="feedback-form__policy">
                                      <p>Нажимая кнопку «Подать заявку» вы даёте своё <a href="">согласие на обработку персональных данных</a></p>
                                  </div>
                                </form>
                            </div>

                      </div>
                   </div>
                </div>
                <!-- [END] feedback-section -->