<!-- [BEGIN] footer -->
<footer class="footer">
   <div class="container footer__container">
      <div class="footer__content">
         
            <div class="footer-top">
               <a href="#" class="footer-logo">
                   <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#logo"></use></svg>
               </a>
               <div class="footer-desc">
                     ООО «Стоматологическая клиника 
                     «Доктор Смайл»,
                     ИНН 7701343834,
                     КПП 770101001,
                     ОГРН 1037701921718
               </div>
               <div class="footer-contacts">
                     <div class="footer-contacts__row footer-contacts__links hide-below-s">
                        <a href="#" class="green">whatsapp</a>   
                        <a href="#" class="purple">viber</a>   
                     </div>
                     <div class="footer-contacts__row">
                         Телефон: <a href="tel:+74998774295">+7 499 877-42-95</a>
                     </div>
                     <div class="footer-contacts__row">
                         Факс: <a href="fax:+74998774295">+7 499 877-42-95</a>
                     </div>
                     <div class="footer-contacts__row">
                          <a href="mailto:mail@doctorsmile.ru" class="link"><span>mail@doctorsmile.ru</span></a>
                     </div>
               </div>

               <div class="footer-soc-links">
                   <div class="footer-soc-links__title hide-below-s">Мы в соцсетях:</div>
                   <ul>
                      <li><a href="#" class="hide-above-m"><i class="icon-viber"></i></a></li>
                      <li><a href="#" class="hide-above-m"><i class="icon-watsapp"></i></a></li>
                      <li><a href="#"><i class="icon-youtube"></i></a></li>
                      <li><a href="#"><i class="icon-instagram"></i></a></a></li>
                   </ul>
               </div>

               <div class="dev-link">
                   <div class="dev-link__title">Сделали с любовью:</div>
                   <a href="#" class="dev-link__link">
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-dev"></use></svg>
                   </a>
               </div>

            </div>
            <div class="footer-bottom">
                <div class="copyrights">© 2011-2016 «Доктор Смайл». Лицензия на осуществление медицинской деятельности №ЛО-77-01-012137 от 19 Апреля 2016 г.</div>
                <a href="#" class="link"><span>Соглашение об обработке персональных данных</span></a>
            </div>

      </div>
   </div>
</footer>
<!-- [END] footer -->