<!-- [BEGIN] reviews -->
                <div class="reviews">
                   
                      <div class="reviews__content" id="reviews-tablist">
                         <h2 class="container section-title reviews__section-title">Отзывы</h2>
                         <ul class="reviews-tablist" >
                             <li class="reviews-tablist__item">
                                 <a href="#video-reviews" class="reviews-tablist__tab"><span>Видеоотзывы</span></a>
                             </li>
                             <li class="reviews-tablist__item">
                                 <a href="#guestbook" class="reviews-tablist__tab"><span>Книга отзывов</span></a>
                             </li>
                         </ul>

                         <div class="reviews-tablist__panel" id="video-reviews">
                               <div class="container">
                               <div class="reviews-videos">
                                   <ul class="reviews-videos__list">
                                       <li class="reviews-videos__item" each="4">
                                           <a href="#" class="reviews-videos__link">
                                               <div class="reviews-videos__photo-wrapper">
                                                  <img src="/img/video-preview.jpg" alt="">
                                               </div>
                                               <h3 class="reviews-videos__title">Пациентка проходит лечение на брекет-системе. Прошла профессиональную гигиену у врача клиники</h3>
                                           </a>
                                       </li>
                                   </ul>
                                   <a href="#" class="link reviews-shaw-all"><span>Смотреть все отзывы</span></a>
                               </div>
                               </div>
                           </div>

                            <div class="reviews-tablist__panel" id="guestbook">
                                    <div class="container">
                                     <div class="guestbook">
                                         <ul class="guestbook__list">
                                             <li class="guestbook__item" each="3">
                                                 <div class="guestbook__title">Я абсолютно вам доверяю</div>
                                                 <div class="guestbook__desc">
                                                    <p>Елена Владимировна потрясающий профессионал - внимательный, неравнодушный, знающий свое дело досконально. Я абсолютно доверяю ее советам и лечению знаю, что она всегда предложит лучшее решение именно для моей ортодонтической проблемы. И, конечно невозможно не отметить, что каждый визит к Елене Владимировне - без преувелечения удовольствие. Она очень позитивный и светлый человек. Буду скучать по визитам к ней после окончания лечения.</p>
                                                 </div>
                                                 <div class="guestbook-file">
                                                    <i class="guestbook-file__icon" style="background-image: url(/img/pdf.svg)"></i>
                                                    <div class="guestbook-file__name">Пшеничников Сергей, 24 декабря 2018</div>
                                                    <span class="guestbook-file__link">Смотреть оригинал отзыва</span>
                                                    <div class="guestbook-file__size">(3,2 Мб)</div>
                                                 </div>
                                             </li>
                                         </ul>
                                         <a href="#" class="link reviews-shaw-all"><span>Смотреть все отзывы</span></a>
                                     </div>
                                    </div>
                                 </div>


                      </div>
                   
                </div>
                <!-- [END] reviews -->