 <!-- [BEGIN] small-doctors -->
                <div class="small-doctors">
                   <div class="container small-doctors__container">
                      <div class="small-doctors__content">
                         <h2 class="section-title small-doctors__section-title">Врачи клиники</h2>
                         <ul class="small-doctors__list">
                             <li class="small-doctors__item" each="8">
                                <a href="#" class="small-doctors__link">
                                    <div class="small-doctors__photo-wrapper">
                                        <img src="/img/doctor-1.jpg" alt="">
                                    </div>
                                    <h3 class="small-doctors__title">Яковлева Тамара Александровна</h3>
                                    <div class="small-doctors__position">Хирург, пародонтолог</div>
                                    <div class="small-doctors__chars">
                                        <div><span>Опыт работы:</span> 11 лет</div>
                                    </div>
                                </a>
                             </li>
                         </ul>
                         <div class="small-doctors__footer">
                            <a href="#" class="link small-doctors__show-all"><span>Смотреть всех врачей</span></a>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- [END] small-doctors -->