<div class="sidebar">
   
      <div class="sidebar-services">
            <div class="sidebar-services__title">Услуги</div>
           <ul class="sidebar-services__list">
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Одномоментная имплантация</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Ортодонтия</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Имплантация под ключ</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Имплантация</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Реставрация</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Лечение и профилактика</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Профессиональная гигиена</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Брекеты</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
                <li class="sidebar-services__item">
                     <a href="#" class="sidebar-services__tab">   
                        <span>Протезирование</span>
                        <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-down"></use></svg>
                     </a>
                     <div class="sidebar-services__panel" style="display: none;">
                           <ul>
                               <li><a href="#"><span>Импланты Alpha Bio</span></a></li>
                               <li><a href="#"><span>Импланты Inno</span></a></li>
                               <li><a href="#"><span>Импланты Nobel</span></a></li>
                           </ul>
                     </div>
                </li>
           </ul>
      </div>


      <!-- [BEGIN] video-slider -->
      <div class="video-slider slider slider--hide-arrows slider--slides-to-show-1" data-slider="video-slider">
            
            <div class="video-slider__title">Видеоотзывы</div>
            <div class="slider__content video-slider__content">
         
               <!-- [begin] video-slider__list -->
               <ul class="slider__list video-slider__list" data-slider-list="big">
                  <li class="slider__item video-slider__item" each="10">
                      <img src="/img/gallery-slide.jpg" alt="">
                  </li>
               </ul>
               <!-- [end] video-slider__list -->
      
               <!-- [begin] video-slider__arrows -->
               <div class="slider__arrows video-slider__arrows">
                  <button type="button" class="btn-base [ slider__arrow slider__arrow--prev ] video-slider__arrow video-slider__arrow--prev" data-slider-arrow-prev title="Предыдущий слайд" aria-label="Предыдущий слайд">
                     <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-left"></svg>
                  </button>
                  <button type="button" class="btn-base [ slider__arrow slider__arrow--next ] video-slider__arrow video-slider__arrow--next" data-slider-arrow-next title="Следующий слайд" aria-label="Следующий слайд">
                     <svg focusable="false" aria-hidden="true"><use xlink:href="svg/svg.svg#icon-arrow-right"></svg>
                  </button>
               </div>
               <!-- [end] video-slider__arrows -->

            </div>
            
             <!-- [begin] video-slider__list -->
             <ul class="slider__list video-slider__list video-slider-small-list" data-slider-list="small">
                <li class="slider__item video-slider-small-list__item" data-item="0"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="1"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="2"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="3"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="4"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="5"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="6"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="7"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="8"><img src="/img/gallery-slide.jpg" alt=""></li>
                <li class="slider__item video-slider-small-list__item" data-item="9"><img src="/img/gallery-slide.jpg" alt=""></li>
             </ul>
             <!-- [end] video-slider__list -->

             <div class="video-slider__footer">
                <a href="#" class="link"><span>Смотреть все отзывы</span></a>
             </div>

         
      </div>
      <!-- [END] video-slider -->

      <div class="sidebar-order">
          <a href="#" class="sidebar-order__title">Запись на приём</a>
          <a href="#" class="sidebar-order__subtitle">Ежедневно с 9 до 21</a>
          <a href="tel:+74952291424" class="sidebar-order__phone">+7 495 229-14-24</a>
          <button class="btn btn--primary" data-open-feedback-modal>Записаться</button>
      </div>

</div>